<div class="time-container">

  <div class="time-counter-item">
    <div class="time-counter-time">{{ hours <=0 ? "00" : hours }}</div>
    <div class="time-counter-text">Hours</div>
  </div>

  <div class="time-counter-item">
    <div class="time-counter-time">{{ min <=0 ? "00" : min }}</div>
    <div class="time-counter-text">Mins</div>
  </div>

  <div class="time-counter-item">
    <div class="time-counter-time">{{ sec <=0 ? "00" : sec }}</div>
    <div class="time-counter-text">Sec</div>
  </div>
</div>
