<div class="section1">
  <div class="container">

    <div class="section1-main">
      @if(compareListFromDB?.length  && !isLoading){
        <div class="table-area">
          <div class="table">
            <div class="table-body">
              <div class="table-row">
                <div class="table-heading"></div>

                @for (c of compareListFromDB; track $index){
                  <div class="table-data">
                    <div class="remove">
                      <h3 (click)="removeItem(c._id)">
                        Remove <span>
                        <svg xmlns="http://www.w3.org/2000/svg" height="24" width="18"  viewBox="0 0 384 512"><path fill="red" d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/></svg>
                      </span>
                      </h3>
                    </div>
                  </div>
                }

              </div>
              <!-- END! table-row -->

              <div class="table-row">
                <div class="table-heading">
                  <h3>Product Image</h3>
                </div>

                @for (c of compareListFromDB; track $index){
                  <div class="table-data">
                    <div class="product">
                      <img
                        [src]="c.images[0]?? 'https://cdn.saleecom.com/upload/images/placeholder.png'" alt="{{c.name}}"
                      />
                    </div>
                  </div>
                }

              </div>
              <!-- END! table-row -->

              <div class="table-row">
                <div class="table-heading">
                  <h3>Name</h3>
                </div>

                @for(c of compareListFromDB; track $index){
                  <div class="table-data">
                    <div class="product-name">
                      <h3>{{ c?.name }}</h3>
                    </div>
                  </div>
                }

              </div>
              <!-- END! table-row -->

              <div class="table-row">
                <div class="table-heading">
                  <h3>Price</h3>
                </div>
                @for (c of compareListFromDB; track $index){
                  <div class="table-data">
                    <div class="product-price">
                      <h3>{{c?.salePrice | currencyCtr}}</h3>
                    </div>
                  </div>
                }
              </div>
              <!-- END! table-row -->

              <div class="table-row">
                <div class="table-heading">
                  <h3>Status</h3>
                </div>
                @for(c of compareListFromDB; track $index){
                  <div class="table-data">
                    <div class="product-status">
                      <h3
                        [ngStyle]="c.quantity > 0 ? {'color': 'green'} : {'color': 'red'}">{{ c.quantity > 0 ? 'In Stock' : 'Out of Stock' }}</h3>
                    </div>
                  </div>
                }
              </div>

              @if(compareListFromDB?.specifications?.length){
                <div class="table-row" >
                  <div class="table-heading1">
                    <h3>Specification</h3>
                  </div>

                  @for(c of compareListFromDB; track $index){
                    <div class=" table-data1">
                      @for(d of c?.specifications; track $index){
                        <div class="product-action-btn1">
                          <ul  class="sp-ul">
                            <li class="title" >
                              <span >{{d.name}}</span>
                            </li>
                            <li>
                              <span >{{d.value}}</span>
                            </li>
                          </ul>
                        </div>
                      }
                    </div>
                  }

                </div>
              }
              <!-- END! table-row -->

              <div class="table-row">
                <div class="table-heading">
                  <h3>Action</h3>
                </div>

                @for (c of compareListFromDB; track $index){
                  <div class="table-data">
                    <div class="product-action-btn">
                      <ul>
                        <li>
                        <span [routerLink]="['/product-details', c?.slug]">
                          <svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 576 512"><path fill="#ffffff" d="M288 32c-80.8 0-145.5 36.8-192.6 80.6C48.6 156 17.3 208 2.5 243.7c-3.3 7.9-3.3 16.7 0 24.6C17.3 304 48.6 356 95.4 399.4C142.5 443.2 207.2 480 288 480s145.5-36.8 192.6-80.6c46.8-43.5 78.1-95.4 93-131.1c3.3-7.9 3.3-16.7 0-24.6c-14.9-35.7-46.2-87.7-93-131.1C433.5 68.8 368.8 32 288 32zM144 256a144 144 0 1 1 288 0 144 144 0 1 1 -288 0zm144-64c0 35.3-28.7 64-64 64c-7.1 0-13.9-1.2-20.3-3.3c-5.5-1.8-11.9 1.6-11.7 7.4c.3 6.9 1.3 13.8 3.2 20.7c13.7 51.2 66.4 81.6 117.6 67.9s81.6-66.4 67.9-117.6c-11.1-41.5-47.8-69.4-88.6-71.1c-5.8-.2-9.2 6.1-7.4 11.7c2.1 6.4 3.3 13.2 3.3 20.3z"/></svg>
                        </span>
                        </li>
                      </ul>
                    </div>
                  </div>
                }

              </div>
              <!-- END! table-row -->

            </div>
          </div>
          <!-- END! table -->
        </div>
      }

    </div>


    @if(!compareListFromDB?.length  && isLoading){
      <div class="compare-loader">
        <app-compare-loader />
      </div>
    }

    @if(!compareListFromDB?.length  && !isLoading){
      <div style="text-align: center; margin-top: 50px;">
        <h2>No Items in Compare List</h2>
      </div>
    }

  </div>
</div>
<!-- END! section1 -->
