<div class="product-container">
    <ngx-skeleton-loader [theme]="{ width: '160px', height: '30px', marginBottom: '10px' }"></ngx-skeleton-loader>

    <div class="list-container">

        <div class="left-skeleton">
          <!-- Product Image -->
          <ngx-skeleton-loader
            [theme]="{ width: '100px', height: '80px' }"
          ></ngx-skeleton-loader>
        </div>
         <!-- Product Details -->
        <div class="middle-skeleton">
            <ngx-skeleton-loader [theme]="{ width: '180px', height: '20px', marginBottom: '10px' }"></ngx-skeleton-loader>
            <ngx-skeleton-loader [theme]="{ width: '100px', height: '15px' }"></ngx-skeleton-loader>
    
        </div>
     </div>
    <div class="list-container">

        <div class="left-skeleton">
          <!-- Product Image -->
          <ngx-skeleton-loader
            [theme]="{ width: '100px', height: '80px' }"
          ></ngx-skeleton-loader>
        </div>
         <!-- Product Details -->
        <div class="middle-skeleton">
            <ngx-skeleton-loader [theme]="{ width: '180px', height: '20px', marginBottom: '10px' }"></ngx-skeleton-loader>
            <ngx-skeleton-loader [theme]="{ width: '100px', height: '15px' }"></ngx-skeleton-loader>
    
        </div>
     </div>
    <div class="list-container">

        <div class="left-skeleton">
          <!-- Product Image -->
          <ngx-skeleton-loader
            [theme]="{ width: '100px', height: '80px' }"
          ></ngx-skeleton-loader>
        </div>
         <!-- Product Details -->
        <div class="middle-skeleton">
            <ngx-skeleton-loader [theme]="{ width: '180px', height: '20px', marginBottom: '10px' }"></ngx-skeleton-loader>
            <ngx-skeleton-loader [theme]="{ width: '100px', height: '15px' }"></ngx-skeleton-loader>
    
        </div>
     </div>
    <div class="list-container">

        <div class="left-skeleton">
          <!-- Product Image -->
          <ngx-skeleton-loader
            [theme]="{ width: '100px', height: '80px' }"
          ></ngx-skeleton-loader>
        </div>
         <!-- Product Details -->
        <div class="middle-skeleton">
            <ngx-skeleton-loader [theme]="{ width: '180px', height: '20px', marginBottom: '10px' }"></ngx-skeleton-loader>
            <ngx-skeleton-loader [theme]="{ width: '100px', height: '15px' }"></ngx-skeleton-loader>
    
        </div>
     </div>

</div>

