.category-card {
  width: 100%;
  //border: 0.1px solid rgb(224, 224, 224);
  border-radius: 5px;
  padding: 10px 10px 0 10px;

  .img-thumb {
    width: 250px;
    text-align: center;
    margin: 0 auto;
    border-radius: 8px;
  }
}
