<div class="container">

  <div class="categories-header">
    <h2>Categories</h2>
    <a routerLink="/product-categories">
      View All
      <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#5f6368"
        class="arrow-icon">
        <path d="M0 0h24v24H0z" fill="none" />
        <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
      </svg>
    </a>
  </div>

  @switch (categoryViews) {
  @case ('Category 1') {
  <div class="categories-cards">
    @defer (when !isLoading) {
    @for (item of categories.slice(0, 3 ); track $index) {
    <app-categories-card [category]="item"></app-categories-card>
    }
    } @placeholder (minimum 50ms) {
    @for (data of [].constructor(8); track $index) {
    <app-category-loader />
    }
    }
  </div>
  }

  }

</div>