.slide-top{
  text-align: right;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #f7f7f7;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 10px;
  right: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
}

.left-area{
  margin-top: 36px;
}
