@import "variables";

//time
.time-container-1 {
  position: relative;
  height: 65px;
}

.time-container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: baseline;
  position: relative;
  box-sizing: border-box;
  background-color: #F5F6F7;
  max-width: 430px;
  width: 100%;
  margin: 0 auto;
  z-index: 2;
}

.show-time {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 30px;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  position: relative;
}

.show-time::after {
  content: ":";
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  right: 0px;
  color: $color-black;
  font-size: 25px;
  font-family: $font-en-primary;
  font-weight: 500;
}

.show-time:last-child:after {
  display: none;
}

.show-time > span {
  font-size: 40px;
  font-weight: 700;
  font-family: $font-en-primary;
  font-style: normal;
  display: block;
  color: $color-primary;
  line-height: 40px;
  width: 100%;
}

.show-time > small {
  font-size: 16px;
  font-weight: 500;
  color: $color-black;
  font-family: $font-en-primary;
  line-height: 20px;
}

@media(max-width: 768px) {
  .time-container-1::before {
    display: none;
  }

  .show-time > span {
    font-size: 24px;
  }

  .show-time {
    padding: 0px 12px;
  }
}
