@import "variables";
.banner-text {
    position: relative;
    height: 400px;
    background-color: $color-white;
    box-shadow: $box-shadow-black;
    border-radius: 5px;
    .category-list {
      ul {
        border-radius: 7px;
        padding: 8px;
        li {
          list-style: none;
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-size: $font-readable;
          font-family: $font-en-primary;
          font-weight: 500;
          padding: 7px 10px;
          border-radius: 7px;
          position: relative;
          cursor: pointer;

          .list-left {
            display: flex;
            align-items: center;
            gap: 10px;
            svg {
              fill: $color-success !important;
            }
          }

          .list-right {
            visibility: hidden;
            opacity: 0;
          }

          &:hover {
            color: $color-primary;

            .list-left {
              svg {
                fill: $color-secondary !important;
              }
            }
            .list-right {
              visibility: visible;
              opacity: 1;
              svg {
                fill: $color-secondary;
              }
            }
          }
        }
      }
    }
    &:hover ~ .banner-text-2{
        visibility: visible;
        opacity: 1;
        transition: visibility 3s, opacity 1s ease .5s;
      }
  }
  .banner-text-2 {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    width: 250px;
    height: 403px;
    transition: visibility 3s, opacity 1s ease .5s;
    top: 19px;
    left: 273px;
    z-index: 200;
    background-color: $color-white;
    border-radius: 5px;
    .sub-category-list {
      ul {
        border-radius: 7px;
        padding: 8px;
        li {
          list-style: none;
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-size: $font-readable;
          font-family: $font-en-primary;
          font-weight: 500;
          padding: 7px 10px;
          border-radius: 7px;
          position: relative;
          cursor: pointer;

          .list-left {
            display: flex;
            align-items: center;
            gap: 10px;
          }

          .list-right {
            visibility: hidden;
            opacity: 0;
            svg {
              fill: $color-primary;
            }
          }

          &:hover {
            color: $color-primary;

            .list-left {
              svg {
                fill: $color-secondary;
              }
            }
            .list-right {
              visibility: visible;
              opacity: 1;
            }
          }
        }
      }
    }
    &:hover ~ .banner-text-3{
      visibility: visible;
      opacity: 1;
       transition: visibility 3s, opacity 1s ease .5s;
    }
  }
  .banner-text-3 {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    width: 807px;
    height: 403px;
    transition: visibility 3s, opacity 1s ease .5s;
    top: 19px;
    left: 523px;
    z-index: 200;
    background-color: $color-white;
    box-shadow: $box-shadow-black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
