<div class="details-container">
  <div class="parent">

   <!--  LEFT START  -->
    <div class="left-content">
      <div class="card-skeleton">
        <div class="left-section">
          <ngx-skeleton-loader class="large-image"  [theme]="{ height: '350px', width: '100%', }">  </ngx-skeleton-loader>
          <div class="left-bottom">
            <ngx-skeleton-loader [theme]="{  height: '60px', width: '70px' }"> </ngx-skeleton-loader>
            <ngx-skeleton-loader [theme]="{  height: '60px', width: '70px' }"> </ngx-skeleton-loader>
            <ngx-skeleton-loader [theme]="{  height: '60px', width: '70px' }"> </ngx-skeleton-loader>
          </div>
        </div>

        <div class="right-section">
          <ngx-skeleton-loader [theme]="{ height: '60px', width: '100%'}">  </ngx-skeleton-loader>

          <div class="review-parent">
            <ngx-skeleton-loader [theme]="{ height: '20px', width: '20px', borderRadius: '10px'}">  </ngx-skeleton-loader>
            <ngx-skeleton-loader [theme]="{ height: '20px', width: '20px', borderRadius: '10px'}">  </ngx-skeleton-loader>
            <ngx-skeleton-loader [theme]="{ height: '20px', width: '20px', borderRadius: '10px'}">  </ngx-skeleton-loader>
            <ngx-skeleton-loader [theme]="{ height: '20px', width: '20px', borderRadius: '10px'}">  </ngx-skeleton-loader>
            <ngx-skeleton-loader [theme]="{ height: '20px', width: '20px', borderRadius: '10px'}">  </ngx-skeleton-loader>
          </div>

          <ngx-skeleton-loader [theme]="{ height: '45px', width: '150px' }"> </ngx-skeleton-loader>

          <div class="btn">
            <ngx-skeleton-loader class="button" [theme]="{height: '50px', width: '80px' }"> </ngx-skeleton-loader>
            <ngx-skeleton-loader class="button" [theme]="{height: '50px', width: '80px' }"> </ngx-skeleton-loader>
            <ngx-skeleton-loader class="button" [theme]="{height: '50px', width: '80px' }"> </ngx-skeleton-loader>
          </div>

          <div class="variation">
            <div class="single">
              <ngx-skeleton-loader class="button" [theme]="{height: '20px', width: '90px' }"> </ngx-skeleton-loader>
              <ngx-skeleton-loader class="button" [theme]="{height: '20px', width: '150px' }"> </ngx-skeleton-loader>
            </div>
            <div class="single">
              <ngx-skeleton-loader class="button" [theme]="{height: '20px', width: '90px' }"> </ngx-skeleton-loader>
              <ngx-skeleton-loader class="button" [theme]="{height: '20px', width: '110px' }"> </ngx-skeleton-loader>
            </div>
            <div class="single">
              <ngx-skeleton-loader class="button" [theme]="{height: '20px', width: '90px' }"> </ngx-skeleton-loader>
              <ngx-skeleton-loader class="button" [theme]="{height: '20px', width: '110px' }"> </ngx-skeleton-loader>
            </div>
          </div>


        </div>
      </div>

      <div class="bottom-skeleton">
        <div class="top-feature">
          <ngx-skeleton-loader class="button-skeleton"  [theme]="{  height: '40px', width: '90px', borderRadius: '25px'  }"> </ngx-skeleton-loader>
          <ngx-skeleton-loader class="button-skeleton"  [theme]="{  height: '40px', width: '90px', borderRadius: '25px'  }"> </ngx-skeleton-loader>
          <ngx-skeleton-loader class="button-skeleton"  [theme]="{  height: '40px', width: '90px', borderRadius: '25px'  }"> </ngx-skeleton-loader>
        </div>

        <ngx-skeleton-loader class="title-skeleton" [theme]="{ height: '20px', width: '95%',  }"> </ngx-skeleton-loader>
        <ngx-skeleton-loader class="title-skeleton" [theme]="{ height: '20px', width: '95%', }"> </ngx-skeleton-loader>
        <ngx-skeleton-loader class="title-skeleton" [theme]="{ height: '20px', width: '95%', }"> </ngx-skeleton-loader>
        <ngx-skeleton-loader class="title-skeleton" [theme]="{ height: '20px', width: '95%', }"> </ngx-skeleton-loader>
        <ngx-skeleton-loader class="title-skeleton" [theme]="{ height: '20px', width: '95%', }"> </ngx-skeleton-loader>
        <ngx-skeleton-loader class="title-skeleton" [theme]="{ height: '20px', width: '95%', }"> </ngx-skeleton-loader>
      </div>

    </div>
   <!--  RIGHT END  -->

    <!--  LEFT START  -->
    <div class="right-content">
      <div class="bottom-skeleton">
        <div class="bottom-btn">
          <ngx-skeleton-loader class="button-skeleton"  [theme]="{  height: '40px', width: '220px' }"> </ngx-skeleton-loader>
        </div>

        <div class="right-content-border">
          <ngx-skeleton-loader class="title-skeleton" [theme]="{ height: '2px', width: '250px',  }"> </ngx-skeleton-loader>
        </div>

        <ngx-skeleton-loader class="title-skeleton" [theme]="{ height: '40px', width: '95%',  }"> </ngx-skeleton-loader>
        <ngx-skeleton-loader class="title-skeleton" [theme]="{ height: '40px', width: '95%', }"> </ngx-skeleton-loader>
        <ngx-skeleton-loader class="title-skeleton" [theme]="{ height: '40px', width: '95%', }"> </ngx-skeleton-loader>
        <ngx-skeleton-loader class="title-skeleton" [theme]="{ height: '40px', width: '95%', }"> </ngx-skeleton-loader>
      </div>

      <div class="bottom-skeleton">
        <div class="bottom-btn">
          <ngx-skeleton-loader class="button-skeleton"  [theme]="{  height: '40px', width: '220px' }"> </ngx-skeleton-loader>
        </div>

        <div class="right-content-border">
          <ngx-skeleton-loader class="title-skeleton" [theme]="{ height: '2px', width: '250px',  }"> </ngx-skeleton-loader>
        </div>

        <ngx-skeleton-loader class="title-skeleton" [theme]="{ height: '40px', width: '95%',  }"> </ngx-skeleton-loader>
        <ngx-skeleton-loader class="title-skeleton" [theme]="{ height: '40px', width: '95%', }"> </ngx-skeleton-loader>
        <ngx-skeleton-loader class="title-skeleton" [theme]="{ height: '40px', width: '95%', }"> </ngx-skeleton-loader>
        <ngx-skeleton-loader class="title-skeleton" [theme]="{ height: '40px', width: '95%', }"> </ngx-skeleton-loader>
      </div>
    </div>
    <!--  RIGHT END  -->
  </div>
</div>


