@import "variables";

.coupon-card {
  padding: 5px;
  width: 100%;
  max-width: 200px;
  overflow: hidden;
  margin: 3px;
  border-radius: 3px;
  position: relative;
  box-shadow: rgba(9, 30, 66, 0.25) 0 1px 1px, rgba(9, 30, 66, 0.13) 0 0 1px 1px;

  .coupon-top {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    margin-top: 2px;

    svg {
      min-width: 23px;
      max-width: 23px;
      height: 23px;
    }
    h2{
      font-size: 12px;
      font-weight: 800;
      font-family: $font-en-primary;
      color: lighten($color-black, 25%);
    }

    p {
      font-size: 9px;
      font-weight: 500;
      font-family: $font-en-primary;
      color: lighten($color-black, 25%);
    }
  }

  .coupon-button {
    button {
      font-size: 10px;
      font-weight: 500;
      line-height: 15px;
      text-align: left;
      margin-left: 3px;
      background: $color-white;
      color: $color-primary;
      padding: 0px 5px;
      border-radius: 3px;
      border: 1px solid $color-primary;
      cursor: pointer;
    }
  }
}


