<div></div>
<div class="faq-area" id="faq" *ngIf="singleLandingPage?.faqList?.length">
  <div class="container">
    <h1>{{singleLandingPage?.faqTitle}}</h1>

    <div [ngClass]="{ 'slide-right': imageVisible }"
      class="faq-item"
      *ngFor="let faq of singleLandingPage?.faqList; let i = index"
      [class.open]="openedIndex === i"
      (click)="toggleFaq(i)"
    >
      <div class="question">
        <span class="qusn">
          <svg class="e-font-icon-svg e-fas-caret-right" viewBox="0 0 192 512" xmlns="http://www.w3.org/2000/svg"><path d="M0 384.662V127.338c0-17.818 21.543-26.741 34.142-14.142l128.662 128.662c7.81 7.81 7.81 20.474 0 28.284L34.142 398.804C21.543 411.404 0 402.48 0 384.662z"></path></svg>
          {{ faq.question }}
        </span>
<!--        <span class="icon">+</span>-->
<!--        <span class="icon">View Answer</span>-->
      </div>
      <div class="answer">
        {{ faq.answer }}
      </div>
    </div>
    <div class="btn-area">
      <button class="order-button" (click)="onScrollWithNavigate('payment')">
        {{ 'placeOrder'  | translate }}
        <svg
          data-v-e8d572f6=""
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          aria-hidden="true"
          role="img"
          class="icon mr-2"
          width=".8em"
          height=".8em"
          viewBox="0 0 24 24"
        >
          <path
            fill="currentColor"
            fill-rule="evenodd"
            d="M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2S2 6.477 2 12s4.477 10 10 10M9.75 9a.75.75 0 0 1 .75-.75H15a.75.75 0 0 1 .75.75v4.5a.75.75 0 0 1-1.5 0v-2.69l-4.72 4.72a.75.75 0 0 1-1.06-1.06l4.72-4.72H10.5A.75.75 0 0 1 9.75 9"
            clip-rule="evenodd"
          ></path>
        </svg>
      </button>
    </div>
  </div>
</div>
