@if(banners[0]?.showHome && banners[0]?.images?.length){
  <section class="container">
    <div class="content">
      @defer (when !isLoading) {
        <a class="img-thumb" routerLink="/">
          <img [src]="isMobile < 600 && this.banners[0]?.images?.[1] ? this.banners[0]?.images[1] : this.banners[0]?.images[0]" alt="Slide" />
        </a>
      } @placeholder(minimum 50ms)  {
        @for (data of [1]; track data) {
          <app-banner-loader-one />
        }
      }
    </div>
  </section>
}


