<div></div>
<div class="main-content" *ngIf="singleLandingPage?.videoUrl">
  <div class="page-container">

    <div class="video-container" id="video" [ngClass]="{ 'slide-left': imageVisible }" *ngIf="singleLandingPage?.videoUrl">
      <iframe
        [src]="singleLandingPage?.videoUrl | safeUrl"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>

    <button class="order-button" (click)="onScrollWithNavigate('payment')">
      {{ 'placeOrder'  | translate }}
      <svg data-v-e8d572f6="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="icon mr-2" width=".8em" height=".8em" viewBox="0 0 24 24"><path fill="currentColor" fill-rule="evenodd" d="M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2S2 6.477 2 12s4.477 10 10 10M9.75 9a.75.75 0 0 1 .75-.75H15a.75.75 0 0 1 .75.75v4.5a.75.75 0 0 1-1.5 0v-2.69l-4.72 4.72a.75.75 0 0 1-1.06-1.06l4.72-4.72H10.5A.75.75 0 0 1 9.75 9" clip-rule="evenodd"></path></svg>
    </button>
  </div>
</div>
