<div class="main-content" [ngStyle]="{ 'background-color': singleLandingPage?.backgroundColor,'color': singleLandingPage?.textColor ? singleLandingPage?.textColor : 'black' }">
  <div class="page-container">
    <!-- Marquee Text -->
    @if (singleLandingPage?.whyBuy) {
      <div class="marquee">
        <marquee>{{ singleLandingPage?.whyBuy }}</marquee>
      </div>
    }
    <a class="logo" routerLink="/">
      @if(shopInfo?.logoPrimary){
        <img
          [ngSrc]="(shopInfo?.logoPrimary) | imgCtrl : 'filename'"
          [width]="(shopInfo?.logoPrimary) | imgCtrl : 'width'"
          [height]="(shopInfo?.logoPrimary) | imgCtrl : 'height'"
          [alt]="shopInfo?.websiteName"
          [ngSrcset]="rawSrcset"
          sizes="(max-width: 599px) 200px, (min-width: 600px) 400px"
        />
      }@else {
        <p>{{shopInfo?.websiteName}}</p>
      }
    </a>

    <h1 *ngIf="singleLandingPage?.name" class="title">{{ singleLandingPage?.name }}</h1>

    <div class="video-container" *ngIf="(singleLandingPage?.images?.length) && (isMobile > 600)">
      <img (click)="openGallery($event, singleLandingPage?.images,0)" class="swing" [src]="singleLandingPage?.images[0]" alt="">
    </div>

    <div class="video-container" *ngIf="(singleLandingPage?.images?.length) && (isMobile < 600)">
      <img (click)="openGalleryMobile($event, singleLandingPage?.images,0)" class="swing" [src]="singleLandingPage?.images[0]" alt="">
    </div>

    <p *ngIf="singleLandingPage?.description" class="subtitle">{{ singleLandingPage?.description }}</p>




    <h1  class="title">{{singleLandingPage?.offerText}}</h1>


    <button class="order-button" (click)="onScrollWithNavigate('payment')">
      {{ 'placeOrder'  | translate }}
      <svg data-v-e8d572f6="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="icon mr-2" width=".8em" height=".8em" viewBox="0 0 24 24"><path fill="currentColor" fill-rule="evenodd" d="M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2S2 6.477 2 12s4.477 10 10 10M9.75 9a.75.75 0 0 1 .75-.75H15a.75.75 0 0 1 .75.75v4.5a.75.75 0 0 1-1.5 0v-2.69l-4.72 4.72a.75.75 0 0 1-1.06-1.06l4.72-4.72H10.5A.75.75 0 0 1 9.75 9" clip-rule="evenodd"></path></svg>
    </button>

<!--    <h1  class="title">Customer Reviews</h1>-->
    <div class="product-images" *ngIf="(singleLandingPage?.reviewScreenShoot?.length) && (isMobile > 600)">
      <img  *ngFor="let data of singleLandingPage?.reviewScreenShoot;let i =index" (click)="openGallery($event, singleLandingPage?.reviewScreenShoot,i)" [src]="data" alt="">
    </div>

    <div class="product-images" *ngIf="(singleLandingPage?.reviewScreenShoot?.length) && (isMobile < 600)">
      <img  *ngFor="let data of singleLandingPage?.reviewScreenShoot;let i =index" (click)="openGalleryMobile($event, singleLandingPage?.reviewScreenShoot,i)" [src]="data" alt="">
    </div>
</div>
</div>

@if (isGalleryOpen  && (isMobile > 600)) {
  <app-gallery-image-viewer
    [images]="galleryImages"
    [startIndex]="selectedImageIndex"
    (closeEvent)="closeGallery()"
  >
  </app-gallery-image-viewer>
}

@if(showModal && (isMobile < 600)){
  <app-image-gallery [selectedIndex]="selectedImageIndex" [images]="galleryImages" [isVisible]="showModal"
                     (close)="closeModal1()"
  ></app-image-gallery>
}
