@import "variables";

.main-content {
  // background-color: #c8a165;
  //background-color: $color-primary;
  background-color: #E5FFDA;
  // background: linear-gradient(-180deg, #f53d2d, #f63);
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1300px;
  margin: 0 auto;
  width: 100%;
  // min-height: 100vh;
  padding:  30px 15px;

  //.logo {
  //  max-width: 180px;
  //  margin-right: 27px;
  //  width: 100%;
  //  margin-bottom: 16px;
  //}

  .logo {
    display: flex;
    //justify-content: flex-start;
    justify-content: center;
    align-items: center;
    max-width: 200px;
    width: 100%;
    cursor: pointer;
    text-decoration: none;

    p {
      font-size: 18px;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 900;
      font-family: "Molle", cursive;
    }

    img {
      max-width: 200px;
      width: 100%;
      object-fit: contain;
      max-height: 50px;
      height: 100%;
    }
  }

  .title {
    font-size: 2rem;
    font-weight: 700;
    line-height: 45px;
    margin-bottom: 8px;
    text-align: center;
  }

  .subtitle {
    font-size: 1.25rem;
    margin-bottom: 26px;
    text-align: center;
  }

  .video-container {
    width: 100%;
    max-width: 1300px;
    margin-bottom: 16px;

    img{
      width: 100%;
      max-width: 100%;
      max-height: 450px;
    }

    iframe {
      width: 100%;
      height: 500px;
    }
  }
}

.order-button {
  background-color: $color-primary;
  color: white;
  font-size: 1.125rem;
  font-weight: bold;
  padding: 8px 24px;
  border: none;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  cursor: pointer;

  svg {
    margin: 0px;
    padding: 5px 10px;
    background-size: cover;
    // background-color: #01640D;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    color: white;
    font-size: 55px;
    font-style: normal;
    text-align: center;
    font-weight: 400;
    line-height: 36px;
    text-decoration: none;
  }

  &:hover {
    transform: translate(10px);
    transition: transform 0.3s;
  }
}

.swing {
  transform-origin: top center;
  display: inline-block;
  animation: swing 3s ease-in-out 1;
}

@keyframes swing {
  0% {
    transform: rotate3d(0, 0, 1, 0deg);
  }
  20% {
    transform: rotate3d(0, 0, 1, 15deg);
  }
  40% {
    transform: rotate3d(0, 0, 1, -10deg);
  }
  60% {
    transform: rotate3d(0, 0, 1, 5deg);
  }
  80% {
    transform: rotate3d(0, 0, 1, -5deg);
  }
  100% {
    transform: rotate3d(0, 0, 1, 0deg);
  }
}
.product-images {
  display: flex;
  //grid-template-columns: repeat(2,1fr);
  margin-bottom: 40px;
  grid-gap: 15px;
  gap: 15px;
  justify-content: center;
  margin-top: 20px;
  // flex-wrap: wrap;
}
.product-images img {
  width: 100%;
  max-width: 100%;
  max-height: 350px;
}

@media (max-width:599px) {
  .video-container {
    iframe {
      height: 300px!important;
    }
  }
  .logo{
    width: 150px!important;
  }
  .page-container {
    padding: 15px;
  }

  .title {
    font-size: 1.6rem!important;
  }
  .page-container .subtitle {
    font-size: 1rem;
  }
}

.product-images img {
  max-width: 100%; /* fallback/default for very small screens */
}

@media (max-width: 430px) {
  .product-images img {
    max-width: 160px;
  }
}

@media (min-width: 431px) and (max-width: 530px) {
  .product-images img {
    max-width: 200px;
  }
}

@media (min-width: 531px) and (max-width: 750px) {
  .product-images img {
    max-width: 240px;
  }
}

@media (min-width: 751px) and (max-width: 1099px) {
  .product-images img {
    max-width: 350px;
  }
}

@media (min-width: 1100px) {
  .product-images img {
    max-width: 500px;
  }
}
