app-header-xl-2 {
  display: block;
}

app-header-sm-2 {
  display: none;
}

@media only screen and (max-width: 599px) {
  app-header-sm-2 {
    display: block;
  }

  app-header-xl-2 {
    display: none;
  }
}

