<div class="product-details-inside">
  <div class="container">
    @defer (when !isLoading) {
      <div class="product-details-parent">
        <div class="product-details-banner">
          <app-product-details-banner [categories]="categories" [productCardViews]="productCardViews" [relatedProducts]="relatedProducts" [product]="product"  [shopInfo]="shopInfo" [chatLink]="chatLink"></app-product-details-banner>
        </div>

<!--        <div class="new-product-card-main">-->
<!--          @if(relatedProducts?.length){-->
<!--            <div class="new-product-card-container ">-->
<!--              <div class="style-title">-->
<!--                <h2 class="new-product-title title">Related Products</h2>-->
<!--              </div>-->
<!--&lt;!&ndash;              @for (data of relatedProducts; track data?._id) {&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="new-product-card-child">&ndash;&gt;-->
<!--&lt;!&ndash;                  <app-new-products-card [data]="data"></app-new-products-card>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;              }&ndash;&gt;-->
<!--              <div class="products-cards">-->
<!--                @for (item of relatedProducts; track item?._id) {-->
<!--                  @switch (productCardViews) {-->
<!--                    @case ('Product Card 1') {-->
<!--                      <app-product-card-1 [product]="item"></app-product-card-1>-->
<!--                    }-->
<!--                    @case ('Product Card 2') {-->
<!--                      <app-product-card-2 [product]="item"></app-product-card-2>-->
<!--                    }-->
<!--                    @case ('Product Card 3') {-->
<!--                      <app-product-card-3 [product]="item"></app-product-card-3>-->
<!--                    }-->
<!--                    @case ('Product Card 4') {-->
<!--                      <app-product-card-4 [product]="item"></app-product-card-4>-->
<!--                    }-->
<!--                  }-->
<!--                }-->
<!--              </div>-->
<!--            </div>-->
<!--          }-->

<!--          <div class="product-filter-card-main">-->
<!--            <app-products-filter-category [data]="categories"></app-products-filter-category>-->
<!--          </div>-->
<!--          @if (banners.length) {-->
<!--            <div class="product-banner-card-main">-->
<!--              <app-products-card-banner [data]="banners[0]"></app-products-card-banner>-->
<!--            </div>-->
<!--          }-->
<!--        </div>-->
      </div>
    } @placeholder (minimum 50ms) {
      <app-product-details-loader></app-product-details-loader>
    }
  </div>
</div>
<!--<app-product-details-footer [product]="product"></app-product-details-footer>-->
