<div class="container">


    <div class="grid-container">
        <div class="left">
            <h2>
                Stay home & get your daily <br>
                needs from our shop
            </h2>
            <p>Start You'r Daily Shopping with <span style="color: #3BB77E !important;">Nest Mart</span></p>

            <div class="input-wrapper">
                <input type="text" placeholder="Your Email Address">
                <button onclick="alert('Button clicked!');">
                    Subscribe
                </button>
                <img src="../images/product-img/icon-plane.png" alt="image" loading="lazy" srcset="">
            </div>
        </div>
        <div class="right">

            <img src="../images/product-img/banner-9.png" alt="image" loading="lazy" srcset="">

        </div>

    </div>
</div>
