@import "variables";
@import "exports/isloading";

.main-area {
  padding-bottom: 110px;
}
.loader{
  margin-top: 3px;
  margin-right: 6px;
}

.wait-btn{
  color: $color-white;
  background-color: $color-primary;
  filter: brightness(130%);
  pointer-events: none;
  opacity: 0.6;
}

.checkout-area {
  display: grid;
  grid-template-columns: calc(62% - 15px) calc(37% - 21px);
  grid-gap: 50px;
}

.order-note-mobile {
  display: none;
}

.button-area {
  display: flex;
  justify-content: space-between;
  gap: 15px;

  .back-button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    color: lighten($color-black, 25%);
    font-size: 16px;
    font-family: $font-en-primary;
    font-weight: 500;
    padding: 5px 0;

    svg {
      height: 20px;
      width: 20px;
      display: inline;
      fill: lighten($color-black, 25%);
      transition: transform 0.3s ease;
    }

    &:hover svg {
      transform: translateX(-5px);
    }
  }

  .order-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    background: $color-primary;
    padding: 5px 15px;
    color: $color-white;
    font-size: 16px;
    font-family: $font-en-primary;
    border: none;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s ease;

    svg {
      height: 30px;
      width: 30px;
      display: inline;
      fill: $color-white;
    }

    &:hover {
      background: $color-primary;
    }
  }
}

@media (max-width: 950px) {
  .checkout-area {
    padding-bottom: 50px;
    display: flex;
    gap: 0;
    flex-direction: column;
  }
  .order-note-pc {
    display: none;
  }
  .order-note-mobile {
    display: block;
  }
}

.bottom-nav {
  position: fixed;
  width: 100%;
  display: none;
  bottom: 0;
}

.mobile-checkout {
  background: $color-white;
  display: flex;
  border-top: 0.5px solid darken($color-white, 30%);
  justify-content: flex-end;
  text-align: right;
  align-items: center;
  padding: 8px;
  gap: 10px;
  .order-button{
    display: flex;
    align-items: center;
  }

  .total {
    font-size: 13px;
    font-weight: 400;
    line-height: 13px;
    color:  $color-black;
    font-family: $font-en-primary;

    span {
      color: $color-primary;
      font-weight: 800;
    }
  }

  .button-text {
    font-size: 13px;
    font-weight: 400;
    color: lighten($color-black, 25%);
    font-family: $font-en-primary;
  }

  button {
    background: $color-primary;
    border: none;
    height: 45px;
    padding: 0 10px;
    border-radius: 5px;
    font-size: 13px;
    min-width: 118px;
    color: $color-white;
  }
}

@media (max-width: 600px) {
  .bottom-nav {
    display: block;
  }
  .button-area {
    display: none;
  }
}


// Order Area Manage
.order-area {
  padding-top: 20px;
  margin-bottom: 25px;

  .order-items {
    margin-bottom: 20px;
  }

  .mobile-card {
    display: none;
  }

  .summary {
    margin-top: 20px;

    .summary-item {
      display: flex;
      justify-content: space-between;
      padding: 5px 0;
      font-size: 16px;

      .label {
        font-weight: bold;
        color: darken($color-white, 65%);
      }

      .value {
        font-weight: bold;
        color:darken($color-white, 65%);
      }

      &.grand-total {
        font-size: calc($font-readable + 5px);
        font-weight: bold;
        color: #191919 !important;
      }
    }
    .border-bottom{
      border-bottom: 1px solid darken($color-white, 10%);
    }
  }

}

.d-mobile {
  display: none;
}


@media only screen and (max-width: 600px) {

  .d-mobile {
    display: block;
  }

  .order-area {
    .pc-card {
      display: none;
    }

    .mobile-card {
      display: block;
    }


    .summary {
      .summary-item {
        font-size: 14px;

        &.grand-total {
          font-size: 16px;
        }
      }
    }

  }

  .payment-area,.order-area{
    background-color: $color-white;
    padding: 10px;
    margin-top: 15px;
    border-radius: 10px;
  }

}
