.order-details-skeleton {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid #eaeaea;
  border-radius: 8px;
  max-width: 600px;
  margin: 0 auto;
}

.address-skeleton {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.address-info {
  display: flex;
  flex-direction: column;
}

.order-info-skeleton {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.address-info-group{
  display: flex;
  justify-content: space-between;
}
