<div class="order-details-skeleton">
  <!-- Shipping Address Skeleton -->
  <div class="address-skeleton">
    <!-- Icon Skeleton -->
    <ngx-skeleton-loader
      [theme]="{ width: '40px', height: '40px', marginRight: '10px' }">
    </ngx-skeleton-loader>

    <!-- Address Info Skeleton -->
    <div class="address-info">
      <ngx-skeleton-loader [theme]="{ width: '150px', height: '20px', marginBottom: '10px' }"></ngx-skeleton-loader>
      <ngx-skeleton-loader [theme]="{ width: '120px', height: '15px', marginBottom: '5px' }"></ngx-skeleton-loader>
      <ngx-skeleton-loader [theme]="{ width: '100px', height: '15px' }"></ngx-skeleton-loader>
    </div>
  </div>

  <!-- Order Info Skeleton -->
  <div class="address-info-group">
    <div class="order-info-skeleton">
      <ngx-skeleton-loader [theme]="{ width: '100px', height: '15px', marginBottom: '10px' }"></ngx-skeleton-loader>
      <ngx-skeleton-loader [theme]="{ width: '180px', height: '15px', marginBottom: '10px' }"></ngx-skeleton-loader>
      <ngx-skeleton-loader [theme]="{ width: '60px', height: '15px', marginBottom: '10px' }"></ngx-skeleton-loader>
      <ngx-skeleton-loader [theme]="{ width: '80px', height: '15px', marginBottom: '10px' }"></ngx-skeleton-loader>
      <ngx-skeleton-loader [theme]="{ width: '100px', height: '15px', marginBottom: '10px' }"></ngx-skeleton-loader>
      <ngx-skeleton-loader [theme]="{ width: '80px', height: '15px' }"></ngx-skeleton-loader>
    </div>
    <div class="order-info-skeleton">
      <ngx-skeleton-loader [theme]="{ width: '100px', height: '15px', marginBottom: '10px' }"></ngx-skeleton-loader>
      <ngx-skeleton-loader [theme]="{ width: '180px', height: '15px', marginBottom: '10px' }"></ngx-skeleton-loader>
      <ngx-skeleton-loader [theme]="{ width: '60px', height: '15px', marginBottom: '10px' }"></ngx-skeleton-loader>
      <ngx-skeleton-loader [theme]="{ width: '80px', height: '15px', marginBottom: '10px' }"></ngx-skeleton-loader>
      <ngx-skeleton-loader [theme]="{ width: '100px', height: '15px', marginBottom: '10px' }"></ngx-skeleton-loader>
      <ngx-skeleton-loader [theme]="{ width: '80px', height: '15px' }"></ngx-skeleton-loader>
    </div>

  </div>

</div>
