<div class="review-container">
  <div class="product-reviews">

    <div class="rating-section">
      <div class="rating-section-left">
        <h1>{{ ratingCount }}<span>/5</span></h1>
        <div class="rating-svg">
          <div class="star-rating">
            <app-star-rating-view [rating]="ratingCount" starSize="16px" color="#f5c518"></app-star-rating-view>
          </div>
          <p>({{ product?.reviewTotal }} Reviews)</p>
        </div>
      </div>

      <div class="rating-section-right">
        <div class="rating-star">
          <app-star-rating-view [rating]="5" starSize="14px" color="#f5c518"></app-star-rating-view>
          <div class="progress-bar">
            <div class="progress-bar-fill"
                 [style.width.%]="getRatingPercentage(product?.ratingDetails?.fiveStar)"></div>
          </div>
          <span>({{ product?.ratingDetails?.fiveStar ?? 0 }})</span>
        </div>
        <div class="rating-star">
          <app-star-rating-view [rating]="4" starSize="14px" color="#f5c518"></app-star-rating-view>
          <div class="progress-bar">
            <div class="progress-bar-fill"
                 [style.width.%]="getRatingPercentage(product?.ratingDetails?.fourStar)"></div>
          </div>
          <span>({{ product?.ratingDetails?.fourStar ?? 0 }})</span>
        </div>
        <div class="rating-star">
          <app-star-rating-view [rating]="3" starSize="14px" color="#f5c518"></app-star-rating-view>
          <div class="progress-bar">
            <div class="progress-bar-fill"
                 [style.width.%]="getRatingPercentage(product?.ratingDetails?.threeStar)"></div>
          </div>
          <span>({{ product?.ratingDetails?.threeStar ?? 0 }})</span>
        </div>
        <div class="rating-star">
          <app-star-rating-view [rating]="2" starSize="14px" color="#f5c518"></app-star-rating-view>
          <div class="progress-bar">
            <div class="progress-bar-fill" [style.width.%]="getRatingPercentage(product?.ratingDetails?.twoStar)"></div>
          </div>
          <span>({{ product?.ratingDetails?.twoStar ?? 0 }})</span>
        </div>
        <div class="rating-star">
          <app-star-rating-view [rating]="1" starSize="14px" color="#f5c518"></app-star-rating-view>
          <div class="progress-bar">
            <div class="progress-bar-fill" [style.width.%]="getRatingPercentage(product?.ratingDetails?.oneStar)"></div>
          </div>
          <span>({{ product?.ratingDetails?.oneStar ?? 0 }})</span>
        </div>
      </div>
    </div> <!-- END! Rating Overview -->

    @if(allReviews?.length){
      <div class="review-section">
        <div class="review-heading">
          <h3>Product Reviews</h3>
        </div>
        @for (data of allReviews; track data._id) {
          <app-product-rating-card [data]="data"></app-product-rating-card>
        }

      </div> <!-- END! Review List -->
    }

  </div>

  @if (product?.reviewTotal > 5) {
    <div class="view-all">
      <a [routerLink]="['/all-reviews']" [queryParams]="{productId:product?._id}">View All</a>
      <svg xmlns="http://www.w3.org/2000/svg" id="Bold" viewBox="0 0 24 24" width="512" height="512">
        <path
          d="M6.079,22.5a1.5,1.5,0,0,1,.44-1.06l7.672-7.672a2.5,2.5,0,0,0,0-3.536L6.529,2.565A1.5,1.5,0,0,1,8.65.444l7.662,7.661a5.506,5.506,0,0,1,0,7.779L8.64,23.556A1.5,1.5,0,0,1,6.079,22.5Z"/>
      </svg>
    </div> <!-- END View All Action -->
  }

</div>
