@import "variables";

.price-card {
  width: 100%;
  background-color: $color-secondary;
  border-radius: 10px;
  box-shadow: 0 10px 20px #0000000a;
  position: relative;
  overflow: hidden;

  .price-card-tag {
    position: absolute;
    top: 27px;
    right: -50px;
    background-color: #221f1f;
    font-family: $font-en-primary;
    font-size: 14px;
    color: $color-white;
    text-align: center;
    transform: rotate(45deg);
    min-width: 186px;
    max-width: 186px;
    line-height: 26px;
  }
}

.price-card-context {
  padding: 46px 40px 50px;

  .price-card-context-title {
    h1 {
      font-family: $font-en-primary;
      font-size: 1.8rem;
      font-weight: 600;
      line-height: 34px;
      text-align: center;
      color: $color-white;
      margin-bottom: 12px;
    }

    p {
      font-size: 0.9rem;
      line-height: 21px;
      color: $color-white;
      font-family: $font-en-primary;
      font-weight: 400;
      text-align: center;
      margin-bottom: 40px;
    }
  }

  .price-card-bottom-access-list {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        width: 100%;
        margin-bottom: 5px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .see-all-feature {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block: 40px;

    a {
      font-family: $font-en-primary;
      font-size: 1rem;
      line-height: 24px;
      text-decoration: underline;
      color: $color-white;
    }
  }
}

.bottom-access-list-data {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 15px 8px 8px;
  background-color: #f5f6f8;
  border-radius: 30px;

  .bottom-access-list-data-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    p {
      font-family: $font-en-primary;
      font-size: 1rem;
      line-height: 22px;
      color: $color-secondary;
      font-weight: 400;
    }
  }
  .bottom-access-list-data-right {
    min-width: 24px;
    max-width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-green;

    svg {
      min-width: 12px;
      max-width: 12px;
      height: 12px;
    }
  }
}

@media only screen and (max-width: 599px) {
  .price-card {
    .price-card-tag {
      font-size: 11px;
      line-height: 24px;
    }
  }
}
