 <div class="list-container" >
    <div class="left-skeleton">
      <ngx-skeleton-loader
        [theme]="{ width: '100px', height: '80px' }"
      ></ngx-skeleton-loader>
    </div>
    <div class="middle-skeleton">
        <ngx-skeleton-loader [theme]="{ width: '150px', height: '20px', marginBottom: '10px' }"></ngx-skeleton-loader>
        <ngx-skeleton-loader [theme]="{ width: '100px', height: '15px' }"></ngx-skeleton-loader>
        <ngx-skeleton-loader [theme]="{ width: '80px', height: '15px' }"></ngx-skeleton-loader>
    </div>
    <div class="right-skeleton">
        <ngx-skeleton-loader [theme]="{ width: '30px', height: '15px',marginTop: '10px' }"></ngx-skeleton-loader>
    </div>
  </div>
