@import "variables";
@import "common/user-account-xl";
@import "exports/form-input-phone-no";
@import "exports/form-input-primary";
@import "exports/btn";
@import "exports/spinner";

form {
  margin-top: 20px;
}

.input-otp {
  width: 100%;
  max-width: 380px;
  margin: 20px auto 0;
}

.form-group {
  margin-top: 20px;

  h1 {
    padding-bottom: 30px;
  }

  .input-icon {
    &.password-eye {
      right: 12px;
    }
  }
}


@media only screen and (max-width: 885px){
  .content {
    padding: 0 15px;
  }
  .reset-deactiva{
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 599px) {
  .sidebar {
    display: none;
  }
  .content {
    padding: 0 10px;
  }
  .reset-deactiva{
    grid-template-columns: 1fr;
  }
}

.submit-btn {
  width: 100%;

  button {
    width: 100%;
    height: 45px;
    background-color: $color-primary;
    border: 0;
    font-family: $font-en-primary;
    font-size: 15px;
    font-weight: 400;
    color: $color-white;
    border-radius: 4px;
    outline: 0;
    padding: 5px 12px 4px;
    transform: scale(1);
    cursor: pointer;
  }

  &.submit-second {
    display: flex;
    align-items: center;
    margin-top: 30px;

    a {
      color: #2f80ed;
      font-family: $font-en-primary;
      font-size: 15px;
      font-weight: 500;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        text-decoration: underline;
        text-decoration-color: #2f80ed;
      }
    }
  }

  &.submit-third {
    justify-content: flex-end;

    button {
      max-width: 100px;
    }
  }

  &.submit-forth {
    padding-left: 10px;
  }

  &.submit-five {
    button {
      border: 1px solid $color-primary;
      background-color: transparent;
      color: $color-primary;
      transition: all 0.12s linear;

      &:hover {
        background-color: $color-primary;
        color: $color-white;
      }
    }
  }

  &.submit-six {
    margin-top: 19px;
  }

  &.submit-seven {
    justify-content: flex-end !important;
  }
}

