@import "variables";
@import "exports/tooltip";
@import "exports/isloading";
@import "exports/add-to-cart-varient";

.color-variant {
  button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    padding: 6px 10px;
    border: 1px solid rgba(0, 0, 0, .09);
    background-color: $color-white;
    outline: none;
    font-family: $font-en-primary;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.6);
    border-radius: 3px;
    transition: all 0.3s linear;
    position: relative;
    cursor: pointer;
    &::after {
      content: "";
      width: 0;
      height: 0;
      border-bottom: 20px solid $color-primary;
      border-left: 20px solid transparent;
      bottom: 0;
      right: 0;
      position: absolute;
      display: none;
    }
    picture{
      display: flex;
      align-items: center;
      img{
        height: 1.5rem;
        width: 1.5rem;
        object-fit: contain;
      }
    }

    span {
      color: #fff;
      font-size: 15px;
      position: absolute;
      bottom: -3px;
      right: -1px;
      display: none;
      z-index: 1;
    }

    img {
      width: 25px;
      height: 25px;
    }

    &:hover {
      border-color: $color-primary;
    }
    &.active {
      border-color: $color-primary;
      &::after {
        display: block;
      }
      span {
        display: block;
      }
    }
  }
}

//Zoom Start
#img-container {
  position: relative;
  width: 500px;
  height: 450px;
  overflow: hidden;
}

#featured {
  cursor: zoom-in;
  width: 100%;

  img {
    height: 450px;
    border-radius: 15px;
  }
}

//Zoom End
.product-details-container {
  display: grid;
  grid-template-columns: 2fr 4fr;
  gap: 15px;
}

.large-img-box {
  position: relative;

  .no-image {
    height: 330px;
  }
}

.data-item {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 15px;

  .quantity-btn {
    padding: 0 20px;
    border-radius: 5px;
    height: 50px;
    border: 1px solid #a3a3a3;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;

    .plus,
    .minus {
      cursor: pointer;
      background: none;

      svg {
        fill: #a3a3a3;
      }
    }

    .value {
      color: #a3a3a3;
      font-weight: 600;
      padding: 2px 8px;
      border-radius: 5px;
    }
  }
}
.button-box1 {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 35px;

  .quantity {
    display: flex;
    gap: 10px;
    align-items: center;
    color: $color-primary;
    font-family: $font-en-primary;
    font-size: $font-title-desc;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;

    .plus,
    .minus {
      cursor: pointer;
      border: 1px solid $color-gray;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5px;
      background: none;

      svg {
        fill: $color-primary;
      }
    }
  }

  .quantity-btn {
    padding: 0 20px;
    border-radius: 5px;
    height: 50px;
    border: 1px solid $color-primary;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;

    .plus,
    .minus {
      cursor: pointer;
      background: none;
      border: none;

      svg {
        fill: $color-primary;
      }
    }

    .value {
      color: $color-primary;
      font-weight: 600;
      padding: 2px 8px;
      border-radius: 5px;
    }
  }

  .add-to-cart {
    max-width: 135px;
    width: 100%;
    padding: 0 11px;
    border-radius: 5px;
    border: 0;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    background-color: $color-primary;
    color: $color-white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
    user-select: none;

    p {
      display: flex;
      gap: 10px;
    }

    &:hover {
      background-color: $color-primary;
      filter: brightness(80%);
    }
  }

  .buy-now {
    max-width: 135px;
    width: 100%;
    padding: 0 11px;
    border-radius: 5px;
    border: 0;
    height: 50px;
    font-weight: 700;
    font-size: 15px;
    background-color: $client-color-orange;
    color: $color-white;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
    user-select: none;

    &:hover {
      background-color: $client-color-orange;
      filter: brightness(80%);
    }

    p {
      display: flex;
      gap: 10px;
    }
  }
}


.product-details-left {
  display: block;
  width: 100%;
  .left-main{
    display: block;
    width: 100%;
    position: sticky;
    top: 100px;
    left: 0;
  }
  .product-details-left-parent {
    display: flex;
    justify-content: center;
    border: 1px solid darken($color-white, 10%);
    border-radius: 15px;
    position: relative;

    img {
      width: 100%;
      max-height: 450px;
      object-fit: contain;
      height: 100%;
      border-radius: 15px;
    }

    .img-tag {
      position: absolute;
      left: 10px;
      top: 10px;
      font-family: $font-en-primary;
      font-weight: 800;
      color: $discount-color;
      background: lighten($discount-color, 56%);
      border-radius: 5px;
      padding: 4px 8px;
      font-size: 11px;
    }

    .img-wishlist {
      position: absolute;
      right: 30px;
      top: 10px;
      color: $color-white;
      background: none;
      border: none;

      .test {
        position: relative;
        background-color: transparent;
        font-weight: 500;
        display: flex;
        outline: 0;
        overflow: visible;
        cursor: pointer;
      }

      &:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  .small-img-box {
    display: flex;
    gap: 10px;

    img {
      max-width: 75px;
      width: 100%;
      max-height: 75px;
      height: 100%;
      object-fit: contain;
      border-radius: 17px;
      padding: 10px;
    }

    .img-small {
      cursor: pointer;
      border-radius: 17px;
      border: 1.5px solid rgba(93, 54, 255, 0.24);
      transition: border 0.3s ease;
      display: flex;
    }

    .img-small.active {
      border-color: #5d36ff !important;
    }

  }
}

.slider-track {
  display: flex;
  transition: transform 0.3s ease;
}

.slider-container {
  overflow: hidden;
  position: relative;
  margin-top: 20px;
}

.swipe {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.swipe-left {
  left: 10px;
}

.swipe-right {
  right: 10px;
}

.q-input-box {
  input {
    user-select: none;
    border: none;
    width: 45px;
    height: 35px;
    border-inline-color: transparent;
    outline: none;
    text-align: center;
    font-family: $font-en-primary;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
  }
}

.active-wish-list {
  fill: $color-secondary !important;

  path {
    stroke: $color-secondary !important;
  }
}

.inactive {
  fill: none;

  path {
    stroke: $color-secondary !important;
  }
}

.product-details-description-child {
  .tag {
    color: #f74b81;
    background: #fde0e9;
    display: inline-block;
    padding: 8px 12px;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 700;
  }

  .title {
    color: lighten($color-black, 20%);
    font-weight: 700;
    font-size: calc($font-title-sm - 4px);
  }

  .rating {
    padding: 5px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;

    span {
      color: lighten($color-gray, 10%);
    }
  }

  .price {
    display: flex;
    gap: 7px;
    align-items: center;

    .price-amount {
      p {
        font-size: 46px;
        font-weight: 900;
        color: $color-primary;
      }
    }



    .discount-amount {
      padding: 5px;
      display: flex;
      align-items: center;
      gap: 10px;
      .discount-off {
        color: $color-white;
        font-size: 12px;
        font-weight: 500;
        background: $color-primary;
        padding: 3px 4px;
        border-radius: 5px;
      }

      .discount-value {
        font-size: 24px;
        color: lighten($color-gray, 10%);
        font-weight: 700;
      }
    }
  }

  .variation {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-block: 15px;
    //max-width: 424px;
    flex-wrap: wrap;

    .variation-text {
      font-size: 14px;
      color: #7e7e7e;
      font-weight: 600;
    }

    .variation-list {
      display: flex;
      // max-width: 150px;
      gap: 7px;
      position: relative;
      background: none;
      border: none;

      .single-variation {
        position: relative;
        border: 1px solid $color-primary;
        border-radius: 5px;
        padding: 7px;
        font-size: 14px;
        white-space: nowrap;
        cursor: pointer;

        &:hover {
          color: $color-white;
          background-color: $color-primary;
          filter: brightness(147%);
        }

        &.active {
          color: $color-white;
          background-color: $color-primary;

          &:hover {
            color: $color-white;
            background-color: $color-primary;
          }
        }
      }
    }
  }

  .button-box {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 35px;

    .quantity {
      display: flex;
      gap: 10px;
      align-items: center;
      color: $color-primary;
      font-family: $font-en-primary;
      font-size: $font-title-desc;
      font-weight: 600;
      margin-top: 10px;
      margin-bottom: 10px;

      .plus,
      .minus {
        cursor: pointer;
        border: 1px solid $color-gray;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        background: none;

        svg {
          fill: $color-primary;
        }
      }
    }

    .quantity-btn {
      padding: 0 20px;
      border-radius: 5px;
      height: 50px;
      border: 1px solid $color-primary;
      display: flex;
      justify-content: space-between;
      gap: 10px;
      align-items: center;

      .plus,
      .minus {
        cursor: pointer;
        background: none;
        border: none;

        svg {
          fill: $color-primary;
        }
      }

      .value {
        color: $color-primary;
        font-weight: 600;
        padding: 2px 8px;
        border-radius: 5px;
      }
    }

    .add-to-cart {
      max-width: 135px;
      width: 100%;
      padding: 0 11px;
      border-radius: 5px;
      border: 0;
      height: 50px;
      font-weight: 700;
      font-size: 16px;
      background-color: $color-primary;
      color: $color-white;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      cursor: pointer;
      user-select: none;

      p {
        display: flex;
        gap: 10px;
      }

      &:hover {
        background-color: $color-primary;
        filter: brightness(80%);
      }
    }

    .buy-now {
      max-width: 135px;
      width: 100%;
      padding: 0 11px;
      border-radius: 5px;
      border: 0;
      height: 50px;
      font-weight: 700;
      font-size: 15px;
      background-color: $client-color-orange;
      color: $color-white;

      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      cursor: pointer;
      user-select: none;

      &:hover {
        background-color: $client-color-orange;
        filter: brightness(80%);
      }

      p {
        display: flex;
        gap: 10px;
      }
    }
  }

  .compare {
    height: 50px;
    padding-block: 10px;
    max-width: 228px;
    width: 100%;
    background: #d6d6d6;
    border-radius: 5px;
    cursor: pointer;

    p {
      color: $color-black;
      font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      gap: 10px;

      .out-stock {
        display: flex;
        flex-direction: column;
      }

      .com-hed {
        font-size: 14px;
        display: inline-block;
      }

      .com-sub-head {
        font-size: 8px;
        display: inline-block;
      }

    }
  }

  .extra-info {
    margin-block: 10px;

    .extra-info-parent {
      display: flex;
      gap: 20px;
      margin-block: 20px;

      .extra-info-right {
        font-size: 14px;
        color: #7e7e7e;
      }

      .marginRight {
        margin-top: 15px;

        a {
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .marginTop {
        margin-top: 30px;
      }
    }
  }
}


.text-primary-color {
  color: $color-primary;
  cursor: pointer;

  a {
    text-decoration: none;
    transition: all 0.5s ease-in-out;
    color: $color-primary;

    &:hover {
      text-decoration: underline;
    }
  }
}

@media (max-width: 1200px) {
  .product-details-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
  }
  .product-details-right{
    grid-template-columns: 1fr!important;
  }
}

@media (max-width: 599px) {
  .product-details-description-child .extra-info .extra-info-parent .marginRight {
    margin-top: 12px;
  }
  //.variation {
  //  display: none !important;
  //}
  //.button-box {
  //  display: none !important;
  //}
  .product-details-left {
    .small-img-box {
      img {
        max-width: 75px;
        width: 100%;
        max-height: 75px;
        height: 100%;
      }
    }
  }

  .product-details-description-child {
    .button-box {
      .quantity-btn,
      .add-to-cart,
      .buy-now {
        display: none;
      }
    }
  }
  .product-details-description-child .title {
    margin: 0;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 400;
    word-break: break-word;
    word-wrap: break-word;
    overflow-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}

@media (max-width: 430px) {
  .product-details-description-child {
    padding-inline: 0;

    //.button-box {
    //  display: flex;
    //  flex-direction: column;
    //  align-items: inherit;
    //}
  }
}


.star-rating .material-icons {
  font-size: 24px;
  margin-right: 4px;
}

/* --- product-scroll-area --- */
.product-scroll-area {
  display: block;
  position: fixed;
  bottom: 20px;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s linear;
  z-index: 300;

  left: 50%;
  transform: translateX(-50%);
}

.product-scroll-area-active {
  visibility: visible;
  opacity: 1;
  transition: all 0.3s linear;
}

@media (max-width: 990px) {
  .product-scroll-area-active {
    bottom: 60px;
  }
}

@media (max-width: 767px) {
  .product-scroll-area {
    display: none;
  }
}

.product-details-right {
  //display: block;
  width: 100%;
  position: relative;
  scroll-behavior: smooth;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 15px;
}

/*
 * product-scroll-main
 */
.product-scroll-main {
  background-color: $color-white;
  padding: 15px;
  box-shadow: 0 5px 15px 0 rgb(0 0 0 / 6%);
  border-radius: 6px;
}

.scroll-product {
  width: 100%;
}

.scroll-product-img {
  display: block;
  max-width: 100px;
  position: relative;

  img {
    max-width: 100px;
    height: 100px;
    width: 100px;
    min-width: 100px;
    object-fit: contain;
    border: 1px solid $color-primary;
    filter: brightness(130%);
    border-radius: 10px;
  }
}

.scroll-price-and-card {
  position: relative;

  .scroll-product-right {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

.scroll-product-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;

  h3 {
    color: $color-black;
    font-family: $font-en-primary;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 5px !important;
    transition: all 0.3s linear;
  }

  p {
    font-size: 30px;
    font-weight: 900;
    color: $color-primary;
  }

  h4 {
    color: $color-secondary;
    font-size: 17px;
    font-family: $font-en-primary;
    font-style: normal;
    font-weight: 500;
    display: block;
    line-height: 20px;
    margin-bottom: 2px !important;
  }

  h5 {
    color: $color-primary;
    font-family: $font-en-primary;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    display: block;
  }

  .scroll-title-price-wrapper {
    display: flex;
    flex-direction: column;
  }
}

.scroll-product-right {
  display: flex;
  justify-content: flex-end;

  .scroll-sale-price {
    font-size: 30px;
    font-weight: 900;
    color: #5d36ff;
    padding-left: 105px;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      display: inline-block;
      margin-right: 20px;

      .add-to-cart {
        max-width: 135px;
        width: 100%;
        padding: 0 15px;
        border-radius: 5px;
        border: 0;
        height: 40px;
        font-weight: 700;
        font-size: 14px;
        background-color: $color-primary;
        color: $color-white;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        cursor: pointer;
        user-select: none;

        p {
          display: flex;
          gap: 10px;
        }

        &:hover {
          background-color: #3607fa;
        }
      }

      .buy-now {
        max-width: 135px;
        width: 100%;
        padding: 0 15px;
        border-radius: 5px;
        border: 0;
        height: 40px;
        font-weight: 700;
        font-size: 14px;
        background-color: $color-success;
        color: $color-white;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        cursor: pointer;
        user-select: none;

        &:hover {
          background-color: #006a40;
        }

        p {
          display: flex;
          gap: 10px;
        }
      }
    }
  }
}

@media (max-width: 599px) {
  #img-container {
    width: 100%;
  }
  .product-details-description-parent {
    background-color: $color-white;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid darken($color-white, 10%);
  }
  .product-details-description-child .extra-info {
    margin: 0;
  }
  .product-details-description-child .extra-info .extra-info-parent {
    margin: 0;
  }

  .color-variant {
    button {
      padding: 3px 4px;
      font-size: 12px;
    }
  }
}

.wholesale-unit {
  p {
    font-size: 26px;
    font-weight: 900;
    color: $color-primary;
  }

  button {

    background: lighten($discount-color, 57%);
    color: $discount-color;
    border: none;
    max-width: 135px;
    width: 100%;
    padding: 0 11px;
    border-radius: 5px;
    border: 0;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    font-family: $font-en-primary;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
  }
  button.active {
    background-color: $discount-color; /* Example active color */
    color: white;
  }
}

.variation-box-default {
  display: none;
}

.variation-box {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #F9DAE0; /* orange shade */
  color: #d83333;
  padding: 4px 7px;
  border-left: 6px solid #ff3d00;
  border-radius: 4px;
  font-family: 'Arial', sans-serif;
  max-width: 300px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);

  .variation-icon {
    width: 20px;
    height: 20px;
    border: 2px solid #d32f2f;
    border-radius: 50%;
    color: #d32f2f;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .message {
    flex: 1;
    font-size: 13px;
  }
}

/**
 * Navbar Outside means product details bottom footer START
 */

.navbar-outside {
  box-shadow: 0px -4px 6px -1px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 58px;
  position: fixed;
  bottom: 0;
  z-index: 200;
  background-color: $color-white;
  transition: all 0.3s ease;
  display: none;
}

.navbar-outside {
  .product-details-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 6px 10px;
    width: 100%;
  }

  .store {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
    cursor: pointer;
    svg {
      fill: rgb(75, 73, 73);
      transition: all 0.5s ease;
    }
    p {
      color: $color-black;
      font-family: $font-en-primary;
      font-size: calc($font-readable);
      font-weight: 500;
      transition: all 0.5s ease;
    }
    &:hover {
      svg {
        fill: $color-primary;
        transition: all 0.5s ease;
      }
      p {
        color: $color-primary;
        transition: all 0.5s ease;
      }
    }
  }

  .add-to-cart {
    padding: 0px 5px;
    border-radius: 5px;
    border: 0;
    height: 45px;
    font-weight: 700;
    font-size: 16px;
    background-color: $color-primary;
    color: $color-white;
    width: 90%;
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    P{
      font-size: 16px;
      font-family: $font-en-primary;
      text-wrap: nowrap;
    }
  }

  .buy-now {
    padding: 0 5px;
    border-radius: 5px;
    border: 0;
    height: 45px;
    font-weight: 700;
    font-size: 16px;
    justify-content: center;
    background-color: $color-secondary;
    color: $color-white;
    width: 90%;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    P{
      font-size: 16px;
      font-family: $font-en-primary;
      text-wrap: nowrap;
    }
  }
}

.product-details-custom-design {
  display: none;
}
/*
 * Description-additional-info-review-container
 */
.description-additional-info-review-container {
  margin-block: 30px;
  border: 1px solid darken($color-white, 10%);
  border-radius: 15px;
  padding-block: 40px;
  padding: 18px;
}

.tab-list-box {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;

  button {
    display: block;
    padding: 13px 24px !important;
    text-align: center;
    font-weight: 700;
    text-transform: none;
    font-size: 17px;
    border-radius: 30px;
    border: 1px solid darken($color-white, 20%);
    background: $color-white;
    color: #7e7e7e;
    cursor: pointer;
  }

  button.active {
    color: $color-primary;
  }
}

.tab-list-details {
  margin-block: 30px;
}

@media (max-width: 610px) {
  .description-additional-info-review-container {
    padding: 11px 14px;
  }
  .tab-list-box {
    button {
      padding: 11px 12px !important;
      font-size: 13px;
    }
  }
  .tab-list-details {
    margin-block: 15px;
  }
}
@media only screen and (max-width: 599px) {
  .description-additional-info-review-container{
    background-color: $color-white;
    margin-block: 15px;
  }
  .button-box1{
    display: none!important;
  }
  .navbar-outside {
    //display: block;
    display: none;
  }
  .price-amount {
    p {
      font-size: 28px !important;
    }
  }
  .discount-amount {
    .discount-value {
      font-size: 18px !important;
    }
    .discount-off {
      font-size: 10px !important;
    }
  }
  .product-details-custom-design {
    display: block;

    .button-box {
      display: flex;
      align-items: center;
      gap: 10px;
      //margin-top: 0px !important;

      .quantity {
        display: flex;
        gap: 10px;
        align-items: center;
        color: $color-primary;
        font-family: $font-en-primary;
        font-size: $font-title-desc;
        font-weight: 600;
        margin-top: 10px;
        margin-bottom: 10px;

        .plus,
        .minus {
          cursor: pointer;
          border: 1px solid $color-gray;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 5px;
          background: none;

          svg {
            fill: $color-primary;
          }
        }
      }

      .quantity-btn {
        padding: 0 5px;
        border-radius: 5px;
        height: 50px;
        border: 1px solid $color-primary;
        display: flex;
        justify-content: space-between;
        gap: 10px;
        align-items: center;

        .plus,
        .minus {
          cursor: pointer;
          background: none;
          border: none;

          svg {
            fill: $color-primary;
          }
        }

        .value {
          color: $color-primary;
          font-weight: 600;
          padding: 2px 8px;
          border-radius: 5px;
        }
      }


      .buy-now {
        max-width: inherit;
        width: 100%;
        padding: 0 11px;
        border-radius: 5px;
        border: 0;
        height: 50px;
        font-weight: 700;
        font-size: 15px;
        background-color: $client-color-orange;
        color: $color-white;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        cursor: pointer;
        user-select: none;

        &:hover {
          background-color: $client-color-orange;
          filter: brightness(80%);
        }

        p {
          display: flex;
          gap: 10px;
        }
      }
    }

    .cart-custom-bottom {
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      gap: 7px;

      .add-to-cart {
        //max-width: 135px;
        width: 100%;
        padding: 0 11px;
        border-radius: 5px;
        border: 0;
        height: 50px;
        font-weight: 700;
        font-size: 16px;
        background-color: $color-primary;
        color: $color-white;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        cursor: pointer;
        user-select: none;

        p {
          display: flex;
          gap: 10px;
        }

        &:hover {
          background-color: $color-primary;
          filter: brightness(80%);
        }
      }

      .call-button {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background-color: $color-primary;
        color: white;
        padding: 8px 16px;
        border-radius: 5px;
        font-size: 16px;
        font-weight: 500;

        .call-icon {
          margin-right: 6px;
        }

        .call-text a {
          color: white;
          text-decoration: none;
          font-weight: bold;
        }
      }

      .social-custom-design {
        .social-buttons {
          display: flex;
          justify-content: space-between;
          gap: 20px;
        }

        .social-btn {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          padding: 8px 16px;
          background-color: #00a2c6;
          border-radius: 5px;
          color: white;
          font-weight: 500;
          text-decoration: none;
          font-family: Arial, sans-serif;
          transition: background 0.3s;
        }

        .social-btn svg {
          margin-right: 8px;
        }

        .social-btn:hover {
          opacity: 0.9;
        }

        .social-btn.messenger {
          background-color: #0084ff;
        }

        .social-btn.whatsapp {
          background-color: #25d366;
        }



      }

    }

  }

  .new-product-card-container{
    background-color: $color-white;
    .new-product-title{
      font-size: 20px;
      padding-bottom: 15px;
    }
    margin-bottom: 15px;
    margin-top: 0!important;
    padding: 20px 6px 0 6px!important;
  }
}


/**
 * NEW PRODUCTS
 */
.new-product-card-container {
  padding: 20px 20px 0 20px;
  border: 1px solid darken($color-white, 10%);
  border-radius: 15px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);

  .new-product-title {
    margin-top: 10px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;

    &:after {
      content: "";
      display: block;
      width: 80px;
      height: 3px;
      background-color: $color-primary;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }

  .new-product-card-child {
    margin-bottom: 10px;
    border-bottom: 1px dotted lighten($color-black, 25%);
    padding-bottom: 10px;
  }

  .new-product-card-child:last-child {
    border-bottom: none;
  }
}

.products-cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
  margin-bottom: 30px;
}

@media (min-width: 1080px) {
  .products-cards {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 10px;
  }
}

@media only screen and (max-width: 1200px) {
  .products-cards {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (max-width: 850px) {
  .products-cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

.product-filter-card-main{
  margin-top: 15px;
}

@media only screen and (max-width: 650px) {
  .products-cards {
    grid-template-columns: repeat(2, 1fr) !important;
  }
  .product-filter-card-main{
    margin-bottom: 94px;
  }
}
/**
 * Navbar Outside means product details bottom footer END
 */


