
.top-category-loader {
  width: 285px;
  height: 100%;
  border-radius: 5px;
  overflow: hidden;

}
.skeleton-container {
  width: 285px;
  height: 465px;
}
.menu-header{
  margin-top: 10px;
  margin-bottom: 20px;
}

.loader-category-text{
  background-color: #FFFEFEFF;
}
