/**
  * font-family: "Satoshi", sans-serif
  * Available Font Weight: 300, 400, 500, 700, 900
  * Available Font Style: normal, italic
 */

@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');


@font-face {
  font-family: 'Satoshi';
  src: url('fonts/Satoshi/Satoshi-Light.ttf') format('truetype');
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('fonts/Satoshi/Satoshi-Regular.ttf') format('truetype');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('fonts/Satoshi/Satoshi-Italic.ttf') format('truetype');
  font-display: swap;
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Satoshi';
  src: url('fonts/Satoshi/Satoshi-Medium.ttf') format('truetype');
  font-display: swap;
  font-weight: 500;
}

@font-face {
  font-family: 'Satoshi';
  src: url('fonts/Satoshi/Satoshi-Bold.ttf') format('truetype');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('fonts/Satoshi/Satoshi-Black.ttf') format('truetype');
  font-display: swap;
  font-weight: 900;
  font-style: normal;
}