@import "variables";

.custom-snack-bar-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 25px;
}

button {
  color: $color-white !important;
}

.progress-bar {
  position: absolute;
  left: 0;
  bottom: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;

  &.mat-mdc-progress-bar.mat-warn {
    --mdc-linear-progress-active-indicator-color: #ffffff91;
  }
}
