@if(images && images.length) {
  <div class="gallery-overlay">
    <div class="gallery-dialog">
      <button class="close-btn" (click)="close()" type="button">
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#ffffff">
          <path d="M0 0h24v24H0z" fill="none"/><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/>
        </svg>
      </button>
      @if(images.length > 1) {
        <div class="image-count">
          {{currentIndex + 1}}/{{images.length}}
        </div>
      }
      <div class="image-container" style="overflow: hidden;">
        <img [src]="images[currentIndex]" #zoomViewer
             style="transition: all 0.3s linear; object-fit: contain;"
              alt="Gallery Image" />
        @if(images.length > 1) {
          <div class="navigation">
            <button class="nav-btn prev" (click)="prevImage()" type="button">
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#ffffff">
                <path d="M0 0h24v24H0z" fill="none"/><path d="M11.67 3.87L9.9 2.1 0 12l9.9 9.9 1.77-1.77L3.54 12z"/>
              </svg>
            </button>
            <button class="nav-btn next" (click)="nextImage()" type="button">
              <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24" width="24px" fill="#ffffff">
                <g><path d="M0,0h24v24H0V0z" fill="none"/></g><g><polygon points="6.23,20.23 8,22 18,12 8,2 6.23,3.77 14.46,12"/></g>
              </svg>
            </button>
          </div> <!-- END! navigation -->
        }
      </div> <!-- END! image-container -->
    </div> <!-- END! gallery-dialog -->
  </div> <!-- END! gallery-overlay -->
}
