@import 'variables';

.popup-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  position: relative;
  background-color: $color-white;
  padding: 20px;
  margin: 0 10px;
  border-radius: 8px;
  width: 400px;
  text-align: center;

  .close-button {
    position: absolute;
    margin-top: 0!important;
    color:  $color-black;
    top: 0;
    right: 5px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    line-height: 1;
  }

  button {
    margin-top: 20px;
    padding: 10px;
    border: none;
    background-color: #5d36ff;
    color: $color-white;
    border-radius: 4px;
    cursor: pointer;
  }

  button:disabled {
    background-color: gray;
  }

  input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
  }

  .error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }

  textarea{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
  }

}
