@import "variables";
.empty-cart {
    text-align: center;
    background-color: $color-white;
    padding: 30px;
    border-radius: 8px;
    border: 1px solid rgb(211, 210, 210);
    // box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    margin-top: 70px;
}
img{
    height: 340px;
    width: 340px;
    margin-left: auto;
}

h1 {
    font-size: 40px;
    font-weight: 500;
    color: #333;
    margin-bottom: 40px;
    margin-top: 40px;
}

.highlight {
    color: $color-primary;
}

p {
    font-size: 18px;
    color: #777;
}

.return-button {
    display: inline-block;
    padding: 20px 80px;
    font-size: 22px;
    font-weight: 500;
    color: $color-white;
    background-color: $color-primary;
    border: none;
    border-radius: 50px;
    text-decoration: none;
    box-shadow: 0 2px 5px rgba($color-black, 0.2);
    transition: background-color 0.3s;
    margin-top: 20px;
}

.return-button:hover {
    background-color: #4b2cc5 ;
}

@media (max-width: 600px) {
    img{
        height: 300px;
        width: 300px;
        margin-left: 5px;
    }
    .empty-cart {
        padding: 20px;
    }

    h1 {
        font-size: 32px;
        margin-top: 20px;
    }

    p {
        font-size: 14px;
    }

    .return-button {
        padding: 20px 30px;
        font-size: 16px;
    }
}
