<div class="timeline-skeleton">

  @for (i of [].constructor(4); track $index) {
    <div class="timeline-entry-skeleton">
      <div class="left-timeline">
        <!-- Date Skeleton -->
        <ngx-skeleton-loader [theme]="{ width: '50px', height: '20px', marginBottom: '5px' }"></ngx-skeleton-loader>
        <ngx-skeleton-loader [theme]="{ width: '50px', height: '20px' }"></ngx-skeleton-loader>
      </div>

      <div class="right-timeline">
        <!-- Icon Skeleton -->
        <ngx-skeleton-loader [theme]="{ width: '30px', height: '30px', marginRight: '10px', borderRadius: '50%' }"></ngx-skeleton-loader>
        <!-- Status Text Skeleton -->
        <div class="status-info-skeleton">
          <ngx-skeleton-loader [theme]="{ width: '180px', height: '20px', marginBottom: '5px' }"></ngx-skeleton-loader>
          <ngx-skeleton-loader [theme]="{ width: '250px', height: '15px' }"></ngx-skeleton-loader>
        </div>
      </div>
    </div>
  }


</div>
