<section>
  <div class="details-section-container">
    <div class="details-section">
      <table class="nutrition-facts">
        <thead>
        <tr>
          <th>Nutrition Facts</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="td-title">Calcium</td>
          <td>100gm</td>
        </tr>
        <tr>
          <td class="td-title">Minerals</td>
          <td>80gm</td>
        </tr>
        <tr>
          <td class="td-title">Iron</td>
          <td>200gm</td>
        </tr>
        <tr>
          <td class="td-title">Folic Acid</td>
          <td>60gm</td>
        </tr>
        <tr>
          <td class="td-title">Carbohydrate</td>
          <td>40gm</td>
        </tr>
        <tr>
          <td class="td-title">Helium</td>
          <td>30gm</td>
        </tr>
        <tr>
          <td class="td-title">Magnesium</td>
          <td>20gm</td>
        </tr>
        <tr>
          <td class="td-title">Fat</td>
          <td>10gm</td>
        </tr>
        <tr>
          <td class="td-title">Grains</td>
          <td>200ca</td>
        </tr>
        <tr>
          <td class="td-title">Octane</td>
          <td>120mg</td>
        </tr>
        <tr>
          <td class="td-title">Diesel</td>
          <td>80gm</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <td>Total</td>
          <td>600gm</td>
        </tr>
        </tfoot>
      </table>
    </div>

  </div>
</section>
