@import "variables";

$table-data-bg: #EDECEC77;
$table-head-bg: #D8D3D380;
.details-section {
  width: 100%;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  background-color: $color-white;
  margin-top: 20px;
  box-shadow: $box-shadow-black;
}

.tabs {
  display: flex;
  background-color: $color-white;

  .tab {
    padding: 10px 15px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    width: 100%;
  }
}

.nutrition-facts {
  width: 100%;
  border-collapse: collapse;
  margin-top: 0;

  th,
  td {
    padding: 10px 45px;
    border-bottom: 1px solid lighten($color-black, 25%)-light;
    text-align: left;
    font-size: calc($font-readable + 3px);
  }

  th {
    background-color: $table-head-bg;
    font-weight: normal;
  }

  tfoot td {
    font-weight: bold;
    background-color: $table-head-bg;
  }

  .td-title{
    background-color: $table-data-bg;
    width: 35%;
  }

}

