@if (popup.images.length) {
  <div class="popup-area">
  <span (click)="onClose()">
           <svg height="15px" width="15px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 490 490" xml:space="preserve" stroke="#ffffff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
             id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <polygon
             points="456.851,0 245,212.564 33.149,0 0.708,32.337 212.669,245.004 0.708,457.678 33.149,490 245,277.443 456.851,490 489.292,457.678 277.331,245.004 489.292,32.337 "></polygon> </g></svg>
  </span>
    <a [href]="popup?.url"
       [target]="popup?.urlType === 'external' ? '_blank' : '_self'">
      <div class="offer-dialog">
        <div class="offer-dialog-main">
          <div class="offer-img">
            <img [src]="popup.images && popup.images.length ? popup.images[0] : ''" alt="popup" loading="lazy">
          </div>
        </div>
      </div>
    </a>
  </div>
}
