<div class="home-container">

  @switch (showcaseViews) {
  @case ('Showcase 1') {
  <!--      <app-showcase-1></app-showcase-1>-->
  <app-showcase-2></app-showcase-2>
  }
  @case ('Showcase 2') {
  <app-showcase-2></app-showcase-2>
  }
  @case ('Showcase 3') {
  <app-showcase-3></app-showcase-3>
  }
  }
  <!-- END! Showcase Multiple Views -->

  <app-categories></app-categories>
  <!-- END! Category View -->



  @for (tagProduct of tagAndProducts; let i = $index; track i) {
  <app-tag-products [tag]="tagProduct.tag" [products]="tagProduct.products" [index]="i"></app-tag-products>
  }
  <!-- END Tag View -->

</div>

<div class="footer-wrapper">
  <app-footer-xl [shopInfo]="shopInfo"></app-footer-xl>
</div>