#nasa-menu-sidebar-content {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  text-align: left;
  max-height: 100%;
  width: 500px;
  max-width: 80%;
  background-color: #fff;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
}
