.container{
  justify-content: center;
}

.card-skeleton {
  width: 200px;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 8px;
}

.skeleton-image {
  border-radius: 8px;
}

.skeleton-title {
  margin-top: 15px;
}

.skeleton-ratings {
  margin-top: 5px;
}
