<div class="container">
  <div class="card-skeleton">
    <!-- Image loader at the top -->
    <ngx-skeleton-loader class="skeleton-image" [theme]="{ height: '200px', width: '100%' }"> </ngx-skeleton-loader>
    <!-- Title loader -->
    <ngx-skeleton-loader class="skeleton-title" [theme]="{ height: '15px', width: '50%' }"> </ngx-skeleton-loader>
    <!-- Ratings loader -->
    <ngx-skeleton-loader class="skeleton-ratings" [theme]="{ height: '20px', width: '80%' }"> </ngx-skeleton-loader>
  </div>
</div>