.sign-in {
  width: 80%;
  margin: 50px auto 50px auto;
  display: flex;
  column-gap: 30px;
}
.login-section {
  width: 100%;
  margin: 0 auto;
  .logo {
    max-width: 180px;
    width: 100%;
    cursor: pointer;
  }
  .header {
    margin: 20px 0 20px 0;
    h3 {
      font-size: 30px;
      font-weight: 900;
    }
  }
  .fields {
    mat-form-field{
        width: 100%;
    }
    .phn-otp{
       display: none;
    }
  }
  .sign-in-section {
    text-align: center;
    h5 {
      text-align: end;
      margin-bottom: 10px;
    }
    p {
      margin-bottom: 10px;
    }
    button {
      width: 100%;
      height: 40px;
      border-radius: 10px;
      background: blue;
      color: white;
      border: none;
    }
  }
}
.img-section {
  margin: auto;
  img {
    width: 100%;
    border-radius: 10px;
  }
}
@media only screen and (max-width: 599px) {
    .img-section{
        display: none;
    }
}