<div class="modal-area">
  <div class="modal-area-main">
    <div class="product">
      <div class="product-img">
        <img checkImageDefault [src]="image +
           '?&auto=format&w=95'"  src="" alt="image" loading="lazy">
      </div>
      <div class="product-info">
        <p>{{product?.name}}</p>
        <h3 >
          {{ (product | productPrice : "salePrice" : selectedVariationList?._id) | currencyCtr }}
        </h3>
        @if ((product | productPrice : "discountAmount" : selectedVariationList?._id) > 0) {
          <h3 >
            <del >{{ (product | productPrice : "regularPrice" : selectedVariationList?._id)| currencyCtr }}</del>
            <span>-{{ product | productPrice : "discountPercentage" : selectedVariationList?._id }}% OFF</span>
          </h3>
        }
      </div>
    </div>

    @if(product?.variation){
      <div class="color-variant">
        <div class="color-variant-top">
          <span>{{ product?.variation }}</span>
        </div>
        <div class="color-variant-main">
          <ul>
            @for(data of product?.variationOptions; track $index){
              <li>
                <button [class.active]="selectedVariation === data"
                        (click)="onSelectVariation(data)" >
                        @if(convertToLowercase(product?.variation) === "color" || convertToLowercase(product?.variation) === 'colour'){
                  @if (getVariationImage(data)) {
                    <picture>
                      <source [srcset]="getVariationImage(data)" type="image/webp">
                      <img [src]="getVariationImage(data)" alt="Black">
                    </picture>
                  }
                }
                  {{ data }}
                  <span>&#10003;</span>
                </button>
              </li>
            }
          </ul>
        </div>
      </div>
    }

    @if(product?.variation2){
      <div class="color-variant">
        <div class="color-variant-top">
          <span>{{ product?.variation2 }}</span>
        </div>
        <div class="color-variant-main">
          <ul>
            @for(data of product?.variation2Options; track $index){
              <li>
                  <button [class.active]="selectedVariation2 === data"
                          (click)="onSelectVariation2(data)" >
                          @if(convertToLowercase(product?.variation2) === "color" || convertToLowercase(product?.variation2) === "colour"){
                    @if (getVariationImage(data)) {
                      <picture>
                        <source [srcset]="getVariationImage(data)" type="image/webp">
                        <img [src]="getVariationImage(data)" alt="Black">
                      </picture>
                    }
                  }
                    {{ data }}
                    <span>&#10003;</span>
                  </button>
              </li>
            }
          </ul>
        </div>
      </div>
    }
    <!-- @if(product?.variation2){
      <div class="size-variant">
        <div class="size-variant-top">
          <span>{{ product?.variation2 }}</span>
        </div>
        <div class="size-variant-main" >
          <ul>
            @for(data of product?.variation2Options; track $index){
              <li><button (click)="onSelectVariation2(data)" [class.active]="selectedVariation2 === data">
                {{ data }}
              </button></li>
            }
          </ul>
        </div>
      </div>
    } -->

    <div class="quantity">
      <div class="quantity-left">
        <span>Quantity</span>
      </div>
      <div class="quantity-right">
        <ul>
          <li><button (click)="onDecrementQtySimple($event)">-</button></li>
          <li><input type="text" [(ngModel)]="selectedQty" readonly></li>
          <li><button (click)="onIncrementQtySimple($event)">+</button></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="buy-btn" >
       <button [ngClass]="(product?.variation && product?.variation2 &&  selectedVariation && selectedVariation2) ? 'buy-btn1' : !(product?.variation && product?.variation2) && ((product?.variation || product?.variation2) && ( selectedVariation || selectedVariation2)) ? 'buy-btn1' : ((!product?.variation && !product?.variation2 && !selectedVariation && !selectedVariation2)) ? 'buy-btn1' : ''" (click)="onAddToCart($event, 'buyNow')">
         <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14.283" viewBox="0 0 14 14.283">
           <g id="cart" transform="translate(-2 -2)">
             <path id="Path_1717" data-name="Path 1717" d="M2.6,2a.6.6,0,1,0,0,1.19h.292a.6.6,0,0,1,.572.432l1.887,6.605a1.785,1.785,0,0,0,1.717,1.295H12.5A1.785,1.785,0,0,0,14.159,10.4l1.755-4.387A1.19,1.19,0,0,0,14.809,4.38H4.914L4.6,3.295A1.785,1.785,0,0,0,2.888,2Z" transform="translate(0 0)" fill="#fff"/>
             <path id="Path_1718" data-name="Path 1718" d="M6.785,14.571A1.785,1.785,0,1,0,5,12.785,1.785,1.785,0,0,0,6.785,14.571Z" transform="translate(0.571 1.712)" fill="#fff"/>
             <path id="Path_1719" data-name="Path 1719" d="M10.785,14.571A1.785,1.785,0,1,0,9,12.785,1.785,1.785,0,0,0,10.785,14.571Z" transform="translate(1.332 1.712)" fill="#fff"/>
           </g>
         </svg>
         {{'buyNow' | translate}}
       </button>
  </div>

  <div class="modal-close">
    <span (click)="dismiss()"><mat-icon>close</mat-icon></span>
  </div>

</div>
