@import "variables";

.container {
  width: 100%;
  max-width: 1300px;
  margin: auto;
  padding: 35px 15px;
}
.color{
  //color: black;
}
.why-us-section {
  //background-color: #FFFFFF;
  background-color: #E5FFDA;
  //padding: 2rem;
  .title{
    display: flex;
    justify-content: center;
  }
  h2 {
    border-bottom: 2px solid black;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    display: inline-block;
    padding-bottom: 0.3rem;
    text-align: center;
  }
  .content-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .image-box {
      flex: 1 1 300px;
      display: flex;
      justify-content: center;
      padding: 1rem;

      img {
        max-width: 100%;
        height: auto;
        border-radius: 8px;
        //box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      }
    }

    .text-box {
      flex: 1 1 400px;
      padding: 1rem;


      ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          margin-bottom: 0.8rem;
          font-size: 1rem;
          line-height: 1.6;
          position: relative;
          padding-left: 1.5rem;

          &::before {
            content: "✔";
            color: #ffc107;
            position: absolute;
            left: 0;
            top: 0;
          }
        }
      }
    }
  }
}

.slide-right {
  animation: slide-right 1.2s ease forwards;
}
@keyframes slide-right {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-left {
  animation: slide-left 1.2s ease forwards;
}
@keyframes slide-left {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.btn-area{
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 15px;
}

.order-button {
  background-color: $color-primary;
  color: white;
  font-size: 1.125rem;
  font-weight: bold;
  padding: 8px 24px;
  border: none;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  cursor: pointer;

  svg {
    margin: 0px;
    padding: 5px 10px;
    background-size: cover;
    // background-color: #01640D;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    color: #fff;
    font-size: 55px;
    font-style: normal;
    text-align: center;
    font-weight: 400;
    line-height: 36px;
    text-decoration: none;
  }

  &:hover {
    transform: translate(10px);
    transition: transform 0.3s;
  }
}

@media (max-width: 599px) {
  .container {
    padding: 15px 15px;
  }
  .why-us-section .content-container .text-box {
    padding: 0 0 1rem 0;
  }
  .why-us-section .content-container .image-box {
    padding: 1rem 0;
  }
  .why-us-section h2 {
    font-size: 1.5rem;
  }
}
