<div class="form-header">
  <h2>Form Header Here!!</h2>
  <p>
    Form description will be appare here, it will be displayed paragraph text
  </p>
</div>
<form class="form-field">
  <div class="web-name-des">
    <h3>Fill Up your Website Information</h3>
    <mat-form-field>
      <mat-label>Enter Your Website Name</mat-label>
      <input matInput placeholder="sabarlina" required />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Enter Your Website Description</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>
  </div>
  <div class="form-field-top">
    <div class="form-field-top-left">
      <div class="web-content-info">
        <h3>Provide your web content information</h3>
        <mat-form-field>
          <mat-label>Enter content tittle</mat-label>
          <input matInput placeholder="sabarlina" required />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Enter content description</mat-label>
          <textarea matInput></textarea>
        </mat-form-field>
      </div>
      <div class="web-products-info">
        <h3>Provide your products information</h3>
        <mat-form-field>
          <mat-label>Enter banner description</mat-label>
          <textarea matInput></textarea>
        </mat-form-field>
      </div>
    </div>
    <div class="form-field-top-right">
      <div class="web-banner-info">
        <h3>Provide your web banner information</h3>
        <mat-form-field>
          <mat-label>Enter banner tittle</mat-label>
          <input matInput placeholder="sabarlina" required />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Enter banner description</mat-label>
          <textarea matInput></textarea>
        </mat-form-field>
      </div>
      <div class="web-footer-info">
        <h3>Provide your footer information</h3>
        <mat-form-field>
          <mat-label>Enter footer description</mat-label>
          <textarea matInput></textarea>
        </mat-form-field>
      </div>
    </div>
  </div>
  <button type="submit" class="btn-form" mat-raised-button>Submit</button>
</form>
