<div id="custom-snack-bar-container">
  <div class="sandbar" id="sandbar">
    <div class="message">
      <mat-icon>check</mat-icon>
      <span>{{ data.message }}</span>
    </div>
    <a  class="view-cart" (click)="viewCart()">
      <svg
        id="Group_510"
        data-name="Group 510"
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        viewBox="0 0 16 16"
      >
        <path
          id="Path_1715"
          data-name="Path 1715"
          d="M0,0H16V16H0Z"
          fill="none"
        />
        <path
          id="Path_1716"
          data-name="Path 1716"
          d="M16.667,5.333H15.333a3.333,3.333,0,1,0-6.667,0H7.333A1.327,1.327,0,0,0,6.007,6.667l-.007,8A1.333,1.333,0,0,0,7.333,16h9.333A1.333,1.333,0,0,0,18,14.667v-8A1.333,1.333,0,0,0,16.667,5.333ZM12,3.333a2,2,0,0,1,2,2H10A2,2,0,0,1,12,3.333ZM12,10A3.335,3.335,0,0,1,8.667,6.667H10a2,2,0,0,0,4,0h1.333A3.335,3.335,0,0,1,12,10Z"
          transform="translate(-4 -1.333)"

        />
      </svg>
      View Cart
    </a>
    <button class="close-btn" (click)="dismissWithAction()">Close</button>
  </div>
</div>
