@import "variables";

.container{
  width: 93%!important;
}
header {
  width: 100%;
  box-sizing: border-box;
  background-color: $color-white;
  border-bottom: 1px solid darken($color-white, 20%);
}
.homepage-only-height {
  display: inline-block;
  height: 120px;
}
.header-fixed {
  position: fixed;
  top: 0;
  overflow: hidden;
  width: 100%;
  z-index: 999;
  left: 0;
  background: $color-white;
}

.homepage-msite-search-wrap {
  overflow: hidden;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 100;
}

.header-main {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px 0;
  svg{
    fill:$color-primary;
  }
}

.back-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  margin-right: 10px;

  svg {
    width: 20px;
    height: 20px;
  }
}

.logo {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  cursor: pointer;
  margin: 10px auto 0;
  height: 52px;
  overflow: hidden;
  transition: height .25s linear, zIndex 0s linear .25s;
  text-decoration: none;

  p{
    font-size: 22px;
    text-decoration: none;
    text-transform: uppercase;
    text-wrap: nowrap;
    font-weight: 900;
    color: $color-primary;
  }
  img {
    width: 100%;
    height: auto;
    max-width: 140px;
    max-height: 50px;
    object-fit: contain;
  }
}

.cart {
  text-align: center;
  padding: 5px 10px 1px;
  border-radius: 10px;
  cursor: pointer;
  position: relative;

  .cart-icon {
    color: $color-white;
  }

  span {
    position: absolute;
    right: -1px;
    background-color: $color-primary;
    top: -3px;
    color: $color-white;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    line-height: 20px;
  }
}

.search-area {
  width: 95%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  border: .13333vw solid $color-primary;
  border-radius: 5px;
  cursor: pointer;

  .left {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  .search-btn {
    display: block;
    margin-right: 4px;
    margin-left: 0;
    padding: 6px 10px;
    border-radius: 5px;
    background-color: $color-primary;
    font-size: $font-readable;
    font-family: $font-en-primary;
    color: $color-white;
    font-weight: 500;
  }

  .search-icon {
    margin-left: 4px;
    padding: 3px 5px 0;
    color: $color-primary;
  }
}

.header-fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  left: 0;
  background: $color-white;
}

.logo.hidden {
  height: 0!important;
  overflow: hidden!important;
}

// Animated Search text
.search-text {
  width: 100%;
  height: calc($header-height-sm - 30px);
  padding: 5px 0 2px 0;
  box-sizing: content-box;
  display: flex;
  justify-content: center;

  span {
    display: block;
    height: 100%;
    padding-left: 10px;
    color: darken($color-white,45%);
    animation: spin_words 6s infinite;
    font-weight: 500;
    font-size: calc($font-readable + 1px);
  }

  .words {
    overflow: hidden;
  }

  @keyframes spin_words {
    10% {
      transform: translateY(-112%);
    }
    25% {
      transform: translateY(-100%);
    }
    35% {
      transform: translateY(-212%);
    }
    50% {
      transform: translateY(-200%);
    }
    60% {
      transform: translateY(-312%);
    }
    75% {
      transform: translateY(-300%);
    }
    85% {
      transform: translateY(-412%);
    }
    100% {
      transform: translateY(-400%);
    }
  }
}
