@import "variables";

.theme-card {
  width: 100%;
  min-height: 220px;
  background: #d5d5d5;
  position: relative;
  cursor: pointer;
}

.active {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  font-weight: 600;
  position: absolute;
  z-index: 10;
  color: transparent;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  &:after {
    content: "";
    height: 45px;
    width: 45px;
    background: $color-success;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: -10;
  }

  &:before {
    content: "";
    height: 10px;
    width: 20px;
    border-left: 3px solid $color-white;
    border-bottom: 3px solid $color-white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -60%) rotate(-45deg);
    transform-origin: center center;
  }
}
