@import "variables";
@import "exports/tooltip";
@import "exports/add-to-cart-varient";
.color-variant {
  button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    padding: 6px 10px;
    border: 1px solid rgba(0, 0, 0, .09);
    background-color: $color-white;
    outline: none;
    font-family: $font-en-primary;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.6);
    border-radius: 3px;
    transition: all 0.3s linear;
    position: relative;
    cursor: pointer;
    &::after {
      content: "";
      width: 0;
      height: 0;
      border-bottom: 20px solid $color-primary;
      border-left: 20px solid transparent;
      bottom: 0;
      right: 0;
      position: absolute;
      display: none;
    }
    picture{
      display: flex;
      align-items: center;
      img{
        height: 1.5rem;
        width: 1.5rem;
        object-fit: contain;
      }
    }

    span {
      color: #fff;
      font-size: 15px;
      position: absolute;
      bottom: -3px;
      right: -1px;
      display: none;
      z-index: 1;
    }

    img {
      width: 25px;
      height: 25px;
    }

    &:hover {
      border-color: $color-primary;
    }
    &.active {
      border-color: $color-primary;
      &::after {
        display: block;
      }
      span {
        display: block;
      }
    }
  }
}

.card-container {
  width: 100%;
  position: relative;
  cursor: pointer;
  transition: all 0.5s ease;
  border: 1px solid darken($color-white, 8%);
  border-radius: 15px;
  text-decoration: none;
  display: inline-block;
  background-color: $color-white;

  &:hover {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
    border: 1px solid $color-primary;
    transition: all 0.5s ease;
  }
}

.card-parent {
  position: relative;

  .product-tag {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9;

    span {
      display: inline-block;
      font-size: 12px;
      line-height: 1;
      border-radius: 15px 0 20px 0;
      color: $color-white;
      padding: 9px 20px 10px 20px;
    }

    .tag {
      background-color:  $color-secondary;
    }
  }

  .img-compare {
    cursor: pointer;
    position: absolute;
    right: 70px;
    top: 10px;
    color: $color-white;

    .test {
      position: relative;
      background-color: transparent;
      font-weight: 500;
      display: flex;
      outline: 0;
      overflow: visible;
      cursor: pointer;
    }

    &:hover .tooltiptext {
      visibility: visible;
      opacity: 1;
    }
  }

  .img-wishlist {
    position: absolute;
    right: 30px;
    top: 10px;
    color: $color-white;
    background: none;
    border: none;
    cursor: pointer;

    .test {
      position: relative;
      background-color: transparent;
      font-weight: 500;
      display: flex;
      outline: 0;
      overflow: visible;
    }

    &:hover .tooltiptext {
      visibility: visible;
      opacity: 1;
    }
  }

  .active-wish-list {
    fill: $color-secondary !important;

  }

  .high-stock {
    stroke: $color-secondary !important;
  }


  .inactive {
    fill: none;
  }
}

.card-box {
  max-width: 320px;
  width: 100%;
  padding: 17px;
}

.image-area{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px 0 5px 0;
}

.image-area1{
  display: flex;
  align-items: center;
  padding: 3px 0 5px 0;
  gap: 13px;
}

.card-image-box {
  height: 189px;
  width: 189px;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  overflow: hidden;
  img {
    height: 100%;
    width: 100%;
    display: inline-block;
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
  }
}

.product-category {
  margin-bottom: 5px;

  a {
    color: darken($color-white, 8%);;
    font-size: 12px;
  }
}

.product-title {
  p {
    font-size: $font-readable;
    font-weight: 700;
    margin-bottom: 5px;
    color: $color-black;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    height: 39px;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;

    a {
      color: #253d4e;
      text-decoration: none;
    }
  }
}

.ratings {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 3px;

  p {
    font-family: $font-en-primary;
    color: $color-black;
    font-size: calc($font-title-desc - 2px);
    font-weight: 400;
  }
}

.product-card-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;

  .product-price {
    padding-top: 5px;

    .currency{
      font-size: 16px;
    }

    span {
      line-height: 25px;
      font-size: 18px;
      font-weight: bold;
      color: $color-primary;
    }

    .old-price {
      font-size: 12px;
      color: darken($color-white, 50%);
      font-weight: 500;
      margin: 0 0 0 6px;
      text-decoration: line-through;
    }

    .wholesale-unit{
      font-size: 1vw!important;
      padding-left: 5px;

      .currency{
        font-size: 12px;
      }
    }
  }

  .add-cart {
    cursor: pointer;
    background: none;
    border: none;
    .add {
      position: relative;
      display: flex;
      gap: 3px;
      padding: 6px 10px 6px 10px;
      border-radius: 4px;
      background-color: $color-primary;
      font-size: 14px;
      font-weight: 600;
      color: $color-white;
      transition: background-color 300ms ease;

      svg {
        fill: $color-white;
      }

      &:hover {
        background-color: $color-primary;
        color: $color-white;
        filter: brightness(115%);
        svg {
          fill: $color-white;
        }
      }
    }
  }
}


@media only screen and (max-width: 599px) {
  .product-card-bottom .product-price{
    .currency{
      font-size: 3.5vw!important;
    }
    .old-price{
      font-size: 2.5vw!important;
    }
    .pre-price{
      font-size: 4vw!important;
    }
    .wholesale-unit{
      font-size: 1vw!important;
      padding-left: 5px;
    }
  }


  .card-box {
    padding: 10px;
  }
  .add-text {
    display: none;
  }
  .product-title{
    p{
      color: darken($color-white,93%);
      font-size: 3.46667vw;
      line-height: 4vw;
      word-break: break-all;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      display: -webkit-box;
      overflow: hidden;
      height: 8vw;
    }
  }
  .ratings{
    p{
      font-size: 2.93333vw;
      line-height: 3.46667vw;
    }
  }
  .add{
    padding: 6px 6px 5px 7px !important;
  }
  .card-container{
    border-radius: 8px;
    height: auto;
    overflow: hidden;
    padding-bottom: 0.4vw;
    width: 44.8vw;
    //width: 45vw;
  }
  .card-parent{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
  .card-image-box{
    height: 39.8vw;
    width: 39.8vw;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    overflow: hidden;
    img{
      height: 100%;
      width: 100%;
      display: inline-block;
      max-height: 100%;
      max-width: 100%;
    }
  }
}


@media only screen and (max-width: 400px) {
  .card-box {
    padding: 5px 8px;
  }
}
